/* HSL */
/* RGB */
/* line 39, ../sass/_variables.scss */
html {
  font-size: 10px;
}

/* line 45, ../sass/_variables.scss */
body, input {
  font-family: 'Lato';
}

/* line 49, ../sass/_variables.scss */
textarea:focus, input:focus {
  outline: none;
}

/* line 53, ../sass/_variables.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 4, ../sass/_musicnerdz_login.scss */
[class*="fa "]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* line 8, ../sass/_musicnerdz_login.scss */
input {
  border: none;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

/* line 16, ../sass/_musicnerdz_login.scss */
.instructions {
  background-color: #fca311;
  background-image: url("../../assets/images/nav.jpeg");
  background-size: cover;
  min-height: 300px;
  opacity: .9;
  padding: 0;
  height: calc(100vh - 75px);
}
/* line 24, ../sass/_musicnerdz_login.scss */
.instructions .lead {
  font-size: 2.5rem;
  text-shadow: 3px 3px black;
  margin: 0;
  padding: 25px;
  text-align: center;
}
/* line 30, ../sass/_musicnerdz_login.scss */
.instructions .lead span {
  color: #fca311;
}
/* line 34, ../sass/_musicnerdz_login.scss */
.instructions > div {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 5px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/* line 45, ../sass/_musicnerdz_login.scss */
.loginControls {
  width: 625px;
  padding: 0 22px;
}

/* line 50, ../sass/_musicnerdz_login.scss */
.login {
  margin: 50px auto;
  width: 625px;
}
/* line 53, ../sass/_musicnerdz_login.scss */
.login form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
}
/* line 54, ../sass/_musicnerdz_login.scss */
.login form .fa {
  font-size: 2em;
}
/* line 60, ../sass/_musicnerdz_login.scss */
.login form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 65, ../sass/_musicnerdz_login.scss */
.login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}
/* line 77, ../sass/_musicnerdz_login.scss */
.login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #e5e5e5;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}
/* line 86, ../sass/_musicnerdz_login.scss */
.login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #e5e5e5;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}
/* line 95, ../sass/_musicnerdz_login.scss */
.login form input[type="submit"] {
  background: #fca311;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
/* line 106, ../sass/_musicnerdz_login.scss */
.login form input[type="submit"]:hover {
  background: #d78703;
}

/* line 112, ../sass/_musicnerdz_login.scss */
.radio-tile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 121, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container {
  position: relative;
  margin: .5rem;
}
/* line 124, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
/* line 134, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #fca311;
  border-radius: 5px;
  padding: 1rem;
  background: white;
  box-shadow: 2px 2px 5px grey;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
/* line 159, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fca311;
}
/* line 167, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #fca311;
  border: 2px solid #fca311;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 174, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
  color: white;
  background-color: #fca311;
}

/* line 1, ../sass/_musicnerdz_home.scss */
.navbar {
  color: white;
  font-size: 3rem;
  position: relative;
  z-index: 3;
}
/* line 6, ../sass/_musicnerdz_home.scss */
.navbar span {
  color: #fca311;
}
/* line 9, ../sass/_musicnerdz_home.scss */
.navbar .container {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  height: 75px;
}
/* line 14, ../sass/_musicnerdz_home.scss */
.navbar .container a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
/* line 19, ../sass/_musicnerdz_home.scss */
.navbar .container input {
  width: 100%;
  text-align: center;
  height: 55px;
  line-height: 55px;
  border-radius: 0;
  margin: 10px 0;
  background-color: #f6f6f6;
  font-size: 2rem;
}
/* line 28, ../sass/_musicnerdz_home.scss */
.navbar .container input ::-webkit-input-placeholder {
  color: white;
}
/* line 32, ../sass/_musicnerdz_home.scss */
.navbar .container button {
  height: 55px;
  width: 75px;
  border: 1px solid #e6e6e6;
  background-color: white;
  font-size: 3rem;
  padding: 0;
  border-radius: 0;
  cursor: default;
}
/* line 41, ../sass/_musicnerdz_home.scss */
.navbar .container button:active, .navbar .container button:focus {
  outline: none;
}
/* line 45, ../sass/_musicnerdz_home.scss */
.navbar .container button i {
  text-align: center;
}
/* line 50, ../sass/_musicnerdz_home.scss */
.navbar .container .student-nav a {
  font-size: 1.6rem;
  margin: 0 35px;
  padding: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background: #fca311;
  height: 55px;
}
/* line 57, ../sass/_musicnerdz_home.scss */
.navbar .container .student-nav a .fa-line-chart {
  margin: 5px;
}
/* line 62, ../sass/_musicnerdz_home.scss */
.navbar .container .main-logo {
  color: black;
  margin: 0px 30px;
  font-size: 3rem;
}

/* line 70, ../sass/_musicnerdz_home.scss */
.main {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: 200px;
  overflow: hidden;
}
/* line 76, ../sass/_musicnerdz_home.scss */
.main .main-carousel {
  -webkit-box-shadow: 0px 1px 5px black;
  box-shadow: 0px 1px 5px black;
  position: relative;
  z-index: 2;
  background-color: #a8a8a8;
}
/* line 83, ../sass/_musicnerdz_home.scss */
.main .main-display {
  position: relative;
  z-index: 1;
  padding: 0 0;
  margin: 25px 0;
}
/* line 89, ../sass/_musicnerdz_home.scss */
.main .main-container,
.main .main-assigned {
  overflow: visible;
  padding: 0 50px;
}
/* line 93, ../sass/_musicnerdz_home.scss */
.main .main-container h1,
.main .main-assigned h1 {
  line-height: normal;
  margin: 20px;
  font-size: 3rem;
}
/* line 99, ../sass/_musicnerdz_home.scss */
.main .main-completed {
  line-height: normal;
  margin: 20px;
  font-size: 3rem;
}
/* line 104, ../sass/_musicnerdz_home.scss */
.main .container {
  height: auto;
}

/* line 109, ../sass/_musicnerdz_home.scss */
.tile {
  height: 275px;
  width: 325px;
  background-color: white;
  line-height: normal;
  margin: 0 0 25px;
  -webkit-box-shadow: 0px 1px 5px #777777;
  box-shadow: 0px 1px 5px #777777;
}
/* line 117, ../sass/_musicnerdz_home.scss */
.tile p {
  margin: 0;
}
/* line 120, ../sass/_musicnerdz_home.scss */
.tile .tile-artist {
  font-weight: 800;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
/* line 128, ../sass/_musicnerdz_home.scss */
.tile .tile-name {
  font-size: 1.5rem;
}
/* line 131, ../sass/_musicnerdz_home.scss */
.tile .tile-art {
  background-image: url("http://s0.limitedrun.com/images/1248348/daisy-4fa4818edd221.jpg");
  background-size: cover;
  background-position: 100% 25%;
  height: 200px;
}
/* line 136, ../sass/_musicnerdz_home.scss */
.tile .tile-art img {
  max-width: 100px;
}
/* line 140, ../sass/_musicnerdz_home.scss */
.tile .tile-details {
  -webkit-box-shadow: 0px 1px 5px #777777;
  box-shadow: 0px 1px 5px #777777;
}
/* line 143, ../sass/_musicnerdz_home.scss */
.tile .tile-details .tile-album {
  font-size: 3em;
  line-height: 40px;
}
/* line 146, ../sass/_musicnerdz_home.scss */
.tile .tile-details .tile-album .fa-check-square-o {
  color: #fca311;
}
/* line 150, ../sass/_musicnerdz_home.scss */
.tile .tile-details .tile-name {
  border-right: 1px solid #777777;
  max-height: 45px;
}

/* line 158, ../sass/_musicnerdz_home.scss */
.carousel-item img {
  max-width: 225px;
}
/* line 161, ../sass/_musicnerdz_home.scss */
.carousel-item .tile-art {
  background-position: 100% 40%;
  -webkit-box-shadow: 0px 1px 5px #333333;
  box-shadow: 0px 1px 5px #333333;
  height: 235px;
}
/* line 167, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display {
  color: white;
}
/* line 169, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile {
  margin: 0;
  height: auto;
}
/* line 173, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-artist {
  font-weight: 100;
}
/* line 176, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-record {
  font-weight: 300;
}
/* line 179, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-artist,
.carousel-item .main-display .tile-record {
  font-size: 4.5rem;
  line-height: normal;
  margin: 0;
  padding-left: 35px;
}
/* line 186, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-desc {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  padding: 35px;
  line-height: normal;
  text-align: left;
}

/* line 199, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-prev .carousel-btn {
  left: inherit;
}
/* line 204, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-next .carousel-btn {
  right: 0;
}
/* line 208, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-btn {
  opacity: 1;
}
/* line 210, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-btn:active {
  color: black;
}
/* line 213, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-btn:hover {
  color: black;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 220, ../sass/_musicnerdz_home.scss */
  .main {
    width: 100%;
  }
  /* line 222, ../sass/_musicnerdz_home.scss */
  .main .main-container {
    width: 95%;
    margin: 25px auto;
  }
  /* line 226, ../sass/_musicnerdz_home.scss */
  .main .main-carousel {
    width: 100%;
  }
  /* line 230, ../sass/_musicnerdz_home.scss */
  .main .carousel-item .main-display {
    padding: 0;
  }

  /* line 237, ../sass/_musicnerdz_home.scss */
  .navbar .container .search-form {
    margin: 0 15px;
  }
  /* line 241, ../sass/_musicnerdz_home.scss */
  .navbar .container .student-nav a {
    font-size: 2rem;
    color: black;
    margin: 0 5px;
  }
}
/* line 2, ../sass/_musicnerdz_teachernav.scss */
.teacher .container {
  height: 75px;
}
/* line 7, ../sass/_musicnerdz_teachernav.scss */
.teacher .teacher-nav a:before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fca311;
  display: inline-block;
  margin: 0 10px;
}
/* line 16, ../sass/_musicnerdz_teachernav.scss */
.teacher .teacher-nav a:hover {
  text-decoration: underline;
}

/* line 2, ../sass/_musicnerdz_adminnav.scss */
.admin .container {
  height: 75px;
}
/* line 7, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-nav a:before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fca311;
  display: inline-block;
  margin: 0 10px;
}
/* line 16, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-nav a:hover {
  text-decoration: underline;
}
