/* HSL */
/* RGB */
/* line 39, ../sass/_variables.scss */
html {
  font-size: 10px;
}

/* line 45, ../sass/_variables.scss */
body {
  height: 100vh;
}

/* line 50, ../sass/_variables.scss */
input, body {
  font-family: 'Lato';
}

/* line 54, ../sass/_variables.scss */
textarea:focus, input:focus, body:focus {
  outline: none;
}

/* line 58, ../sass/_variables.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 2, ../sass/_musicnerdz_login.scss */
[class*="fa "]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* line 6, ../sass/_musicnerdz_login.scss */
input, body {
  border: none;
  font-size: 1.4em;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

/* line 14, ../sass/_musicnerdz_login.scss */
.instructions {
  background-color: #fca311;
  background-image: url("../../assets/images/nav2.jpeg");
  background-size: cover;
  min-height: 300px;
  opacity: .9;
  padding: 0;
  height: calc(100vh - 75px);
}
/* line 22, ../sass/_musicnerdz_login.scss */
.instructions .lead {
  font-size: 2.5rem;
  text-shadow: 3px 3px black;
  margin: 0;
  padding: 25px;
  text-align: center;
}
/* line 28, ../sass/_musicnerdz_login.scss */
.instructions .lead span {
  color: #fca311;
}
/* line 32, ../sass/_musicnerdz_login.scss */
.instructions > div {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 5px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/* line 41, ../sass/_musicnerdz_login.scss */
.loginControls {
  width: 625px;
  padding: 0 22px;
}

/* line 46, ../sass/_musicnerdz_login.scss */
.login {
  margin: 15px;
  width: 425px;
}
/* line 49, ../sass/_musicnerdz_login.scss */
.login .reset {
  background-color: lightgrey;
  margin: 25px 0;
}
/* line 53, ../sass/_musicnerdz_login.scss */
.login form {
  margin: auto;
  width: 100%;
}
/* line 54, ../sass/_musicnerdz_login.scss */
.login form .fa {
  font-size: 2em;
}
/* line 59, ../sass/_musicnerdz_login.scss */
.login form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 64, ../sass/_musicnerdz_login.scss */
.login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}
/* line 76, ../sass/_musicnerdz_login.scss */
.login form input[type="password"], .login form body[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #e5e5e5;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}
/* line 85, ../sass/_musicnerdz_login.scss */
.login form input[type="text"], .login form body[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #e5e5e5;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}
/* line 94, ../sass/_musicnerdz_login.scss */
.login form input[type="submit"], .login form body[type="submit"] {
  background: #fca311;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
/* line 106, ../sass/_musicnerdz_login.scss */
.login form input[type="submit"]:hover, .login form body[type="submit"]:hover {
  background: #d78703;
}

/* line 112, ../sass/_musicnerdz_login.scss */
.reset-form {
  border-top: 1px solid black;
  padding-top: 10px;
}
/* line 115, ../sass/_musicnerdz_login.scss */
.reset-form .reset-form-submit {
  background: #fca311;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  margin: 0 0 0 15px;
  height: auto;
}
/* line 129, ../sass/_musicnerdz_login.scss */
.reset-form .reset-input {
  margin-bottom: 0 !important;
}
/* line 132, ../sass/_musicnerdz_login.scss */
.reset-form .login form input[type="text"], .reset-form .login form body[type="text"] {
  margin: 0;
}
/* line 135, ../sass/_musicnerdz_login.scss */
.reset-form button {
  margin: 0;
  padding: 0;
}

/* line 143, ../sass/_musicnerdz_login.scss */
.radio-tile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 152, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container {
  position: relative;
  margin: .5rem;
}
/* line 155, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
/* line 165, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #fca311;
  border-radius: 5px;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 2px 2px 5px grey;
  box-shadow: 2px 2px 5px grey;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
/* line 191, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fca311;
}
/* line 199, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #fca311;
  border: 2px solid #fca311;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 206, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
  color: white;
  background-color: #fca311;
}

/* line 1, ../sass/_musicnerdz_home.scss */
.navbar {
  color: white;
  font-size: 3rem;
  position: relative;
  z-index: 3;
}
/* line 6, ../sass/_musicnerdz_home.scss */
.navbar span {
  color: #fca311;
}
/* line 9, ../sass/_musicnerdz_home.scss */
.navbar .container {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  height: 75px;
}
/* line 14, ../sass/_musicnerdz_home.scss */
.navbar .container a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
/* line 19, ../sass/_musicnerdz_home.scss */
.navbar .container input, .navbar .container body {
  width: 100%;
  text-align: center;
  height: 55px;
  line-height: 55px;
  border-radius: 0;
  margin: 10px 0;
  background-color: #f6f6f6;
  font-size: 2rem;
}
/* line 28, ../sass/_musicnerdz_home.scss */
.navbar .container input ::-webkit-input-placeholder, .navbar .container body ::-webkit-input-placeholder {
  color: white;
}
/* line 32, ../sass/_musicnerdz_home.scss */
.navbar .container button {
  height: 55px;
  width: 75px;
  border: 1px solid #e6e6e6;
  background-color: white;
  font-size: 3rem;
  padding: 0;
  border-radius: 0;
  cursor: default;
}
/* line 41, ../sass/_musicnerdz_home.scss */
.navbar .container button:active, .navbar .container button:focus {
  outline: none;
}
/* line 45, ../sass/_musicnerdz_home.scss */
.navbar .container button i {
  text-align: center;
}
/* line 51, ../sass/_musicnerdz_home.scss */
.navbar .container .student-nav a {
  cursor: pointer;
  font-size: 1.6rem;
  margin: 0 10px;
  padding: 5px;
  width: 150px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background: #fca311;
  height: 55px;
}
/* line 61, ../sass/_musicnerdz_home.scss */
.navbar .container .student-nav a .fa-line-chart {
  margin: 5px;
}
/* line 66, ../sass/_musicnerdz_home.scss */
.navbar .container .main-logo {
  color: black;
  margin: 0px 30px;
  font-size: 3rem;
}
/* line 70, ../sass/_musicnerdz_home.scss */
.navbar .container .main-logo img {
  width: 150px;
}

/* line 77, ../sass/_musicnerdz_home.scss */
.main {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: 200px;
}
/* line 82, ../sass/_musicnerdz_home.scss */
.main .assigned {
  margin: 0;
}
/* line 85, ../sass/_musicnerdz_home.scss */
.main .border {
  border-top: 1px solid black;
  margin: 15px 0;
}
/* line 89, ../sass/_musicnerdz_home.scss */
.main .main-carousel {
  -webkit-box-shadow: 0px 1px 5px black;
  box-shadow: 0px 1px 5px black;
  position: relative;
  z-index: 2;
  background-color: #a8a8a8;
}
/* line 96, ../sass/_musicnerdz_home.scss */
.main .main-display {
  position: relative;
  z-index: 1;
  padding: 0 0;
}
/* line 101, ../sass/_musicnerdz_home.scss */
.main .main-container,
.main .main-assigned {
  overflow: visible;
  padding: 0 50px;
}
/* line 103, ../sass/_musicnerdz_home.scss */
.main .main-container a,
.main .main-assigned a {
  text-decoration: none;
}
/* line 109, ../sass/_musicnerdz_home.scss */
.main .main-container h1,
.main .main-assigned h1 {
  line-height: normal;
  margin: 20px;
  font-size: 3rem;
}
/* line 115, ../sass/_musicnerdz_home.scss */
.main .main-completed {
  line-height: normal;
  margin: 5px;
  font-size: 3rem;
}
/* line 120, ../sass/_musicnerdz_home.scss */
.main .container {
  height: auto;
}

/* line 125, ../sass/_musicnerdz_home.scss */
.tile-hero {
  width: 80%;
}
/* line 127, ../sass/_musicnerdz_home.scss */
.tile-hero .fa {
  font-size: 5rem;
}

/* line 133, ../sass/_musicnerdz_home.scss */
.tile {
  height: 255px;
  width: 325px;
  margin: 10px 0;
  background-color: white;
  line-height: normal;
  -webkit-box-shadow: 0px 1px 5px #777777;
  box-shadow: 0px 1px 5px #777777;
}
/* line 141, ../sass/_musicnerdz_home.scss */
.tile p {
  margin: 0;
}
/* line 145, ../sass/_musicnerdz_home.scss */
.tile .tile-artist {
  font-weight: 800;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}
/* line 153, ../sass/_musicnerdz_home.scss */
.tile .tile-artist .fa .fa-play-circle-o {
  margin: 0 25px;
}
/* line 158, ../sass/_musicnerdz_home.scss */
.tile .tile-name {
  font-size: 1.5rem;
}
/* line 160, ../sass/_musicnerdz_home.scss */
.tile .tile-name .tile-record {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
/* line 167, ../sass/_musicnerdz_home.scss */
.tile .tile-art {
  background-size: cover;
  background-position: 100% 25%;
  height: 180px;
}
/* line 173, ../sass/_musicnerdz_home.scss */
.tile .tile-art .fa-play-circle-o {
  font-size: 8rem;
  color: #14213d;
  text-shadow: -1px -1px 0 #e5e5e5, 1px -1px 0 #e5e5e5, -1px 1px 0 #e5e5e5, 1px 1px 0 #e5e5e5;
  opacity: .9;
}
/* line 183, ../sass/_musicnerdz_home.scss */
.tile .tile-art span {
  float: right;
  height: 40px;
  margin: 3px;
  width: 40px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 3px black;
  box-shadow: 1px 1px 3px black;
}
/* line 191, ../sass/_musicnerdz_home.scss */
.tile .tile-art span i {
  font-size: 4rem;
  color: #9999992e;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
}
/* line 196, ../sass/_musicnerdz_home.scss */
.tile .tile-art span .completed {
  color: #fca311;
  -webkit-text-stroke: 1px black;
}
/* line 202, ../sass/_musicnerdz_home.scss */
.tile .tile-art img {
  max-width: 100px;
}
/* line 206, ../sass/_musicnerdz_home.scss */
.tile .tile-details {
  -webkit-box-shadow: 0px 1px 5px #777777;
  box-shadow: 0px 1px 5px #777777;
}
/* line 209, ../sass/_musicnerdz_home.scss */
.tile .tile-details .tile-album {
  font-size: 3em;
  line-height: 40px;
  height: 100%;
  cursor: pointer;
}
/* line 215, ../sass/_musicnerdz_home.scss */
.tile .tile-details .tile-album .fa-play-circle-o {
  color: #14213d;
  font-size: 5rem;
}
/* line 220, ../sass/_musicnerdz_home.scss */
.tile .tile-details .tile-name {
  border-right: 1px solid #777777;
  max-height: 45px;
}

/* line 228, ../sass/_musicnerdz_home.scss */
.carousel-item img {
  max-width: 225px;
}
/* line 231, ../sass/_musicnerdz_home.scss */
.carousel-item .tile-art {
  background-position: 100% 40%;
  -webkit-box-shadow: 0px 1px 5px #333333;
  box-shadow: 0px 1px 5px #333333;
  height: 100%;
}
/* line 237, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display {
  color: white;
  height: 225px;
  margin: 10px 0;
}
/* line 241, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile {
  margin: 0;
  height: auto;
}
/* line 245, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-artist {
  font-weight: 100;
}
/* line 248, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-record {
  font-weight: 300;
}
/* line 251, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-artist,
.carousel-item .main-display .tile-record {
  font-size: 4.5rem;
  line-height: normal;
  margin: 0;
  padding-left: 35px;
}
/* line 258, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-desc {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  padding: 35px;
  line-height: normal;
  text-align: left;
}

/* line 271, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-prev .carousel-btn {
  left: inherit;
}
/* line 276, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-next .carousel-btn {
  right: 0;
}
/* line 280, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-btn {
  opacity: 1;
}
/* line 282, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-btn:active {
  color: black;
}
/* line 285, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-btn:hover {
  color: black;
}

/* line 291, ../sass/_musicnerdz_home.scss */
.md-button.md-raised:not([disabled]) {
  font-size: 2rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 296, ../sass/_musicnerdz_home.scss */
  .tile {
    margin: 10px 0;
  }
  /* line 299, ../sass/_musicnerdz_home.scss */
  .tile .tile-details .tile-name {
    font-size: 2rem;
  }

  /* line 304, ../sass/_musicnerdz_home.scss */
  .main {
    width: 100%;
  }
  /* line 306, ../sass/_musicnerdz_home.scss */
  .main .main-container {
    width: 95%;
    margin: 25px auto;
  }
  /* line 310, ../sass/_musicnerdz_home.scss */
  .main .main-carousel {
    width: 100%;
  }
  /* line 313, ../sass/_musicnerdz_home.scss */
  .main .main-display {
    margin: 30px 20px;
  }
  /* line 317, ../sass/_musicnerdz_home.scss */
  .main .carousel-item .main-display {
    padding: 0;
  }

  /* line 324, ../sass/_musicnerdz_home.scss */
  .navbar .container .search-form {
    margin: 0 15px;
  }
  /* line 328, ../sass/_musicnerdz_home.scss */
  .navbar .container .student-nav a {
    font-size: 2rem;
    color: black;
    margin: 0 5px;
  }
}
/* line 2, ../sass/_musicnerdz_teachernav.scss */
.teacher img {
  width: 150px;
  margin: 0 30px;
}
/* line 6, ../sass/_musicnerdz_teachernav.scss */
.teacher .container {
  height: 75px;
}
/* line 11, ../sass/_musicnerdz_teachernav.scss */
.teacher .teacher-nav a {
  font-size: 1.5rem;
}
/* line 13, ../sass/_musicnerdz_teachernav.scss */
.teacher .teacher-nav a:before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fca311;
  display: inline-block;
  margin: 0 10px;
}
/* line 22, ../sass/_musicnerdz_teachernav.scss */
.teacher .teacher-nav a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/_musicnerdz_adminnav.scss */
.admin {
  font-family: 'Lato';
}
/* line 3, ../sass/_musicnerdz_adminnav.scss */
.admin img {
  width: 150px;
  margin: 0 30px;
}
/* line 7, ../sass/_musicnerdz_adminnav.scss */
.admin .container {
  height: 75px;
}
/* line 12, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-nav a {
  font-size: 1.5rem;
}
/* line 14, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-nav a:before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fca311;
  display: inline-block;
  margin: 0 10px;
}
/* line 23, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-nav a:hover {
  text-decoration: underline;
}
/* line 28, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-title {
  background: #14213d;
  text-align: center;
  -webkit-box-shadow: 0px 3px 3px grey;
  box-shadow: 0px 3px 3px grey;
}
/* line 33, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-title .md-headline {
  color: white;
  font-weight: 300;
}
/* line 39, ../sass/_musicnerdz_adminnav.scss */
.admin .centerbutton .btn1 {
  width: 300px;
  margin: 0 auto;
}
/* line 44, ../sass/_musicnerdz_adminnav.scss */
.admin form {
  font-size: 2rem;
}
/* line 47, ../sass/_musicnerdz_adminnav.scss */
.admin input, .admin body {
  font-size: 2rem;
  font-family: Lato;
  background-color: #e9e9e9;
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  margin-bottom: 1em;
  height: 30px;
  border: none;
  resize: none;
  overflow-y: hidden;
  -webkit-box-shadow: 1px 1px 2px grey;
  box-shadow: 1px 1px 2px grey;
  padding: 15px;
  overflow: scroll;
  max-height: 125px;
}
/* line 63, ../sass/_musicnerdz_adminnav.scss */
.admin input ::-webkit-input-placeholder, .admin body ::-webkit-input-placeholder {
  color: white;
}
/* line 67, ../sass/_musicnerdz_adminnav.scss */
.admin input:focus ::-webkit-input-placeholder, .admin body:focus ::-webkit-input-placeholder {
  color: white;
}
/* line 72, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container {
  width: 1200px;
  margin: 0 auto;
}
/* line 75, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .quizSummary {
  margin: 38px 0;
}
/* line 78, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-label {
  margin: 0px;
  position: initial;
  font-size: 2rem;
}
/* line 83, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .btn1 {
  -webkit-box-shadow: 0px 3px 3px grey;
  box-shadow: 0px 3px 3px grey;
  width: 300px;
  margin: 10px auto;
  border-radius: 10px;
}
/* line 90, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container md-select {
  font-size: 2rem;
}
/* line 94, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-youtube button {
  width: 300px;
  margin: 0px auto;
}
/* line 98, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-youtube input, .admin .admin-container .admin-youtube body,
.admin .admin-container .admin-youtube textarea {
  font-family: Lato;
  background-color: #e9e9e9;
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  margin-bottom: 1em;
  height: 30px;
  border: none;
  resize: none;
  overflow-y: hidden;
  -webkit-box-shadow: 1px 1px 2px grey;
  box-shadow: 1px 1px 2px grey;
  padding: 15px;
  overflow: scroll;
  max-height: 125px;
  min-height: 125px;
}
/* line 115, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-youtube input ::-webkit-input-placeholder, .admin .admin-container .admin-youtube body ::-webkit-input-placeholder,
.admin .admin-container .admin-youtube textarea ::-webkit-input-placeholder {
  color: white;
}
/* line 119, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-youtube input:focus ::-webkit-input-placeholder, .admin .admin-container .admin-youtube body:focus ::-webkit-input-placeholder,
.admin .admin-container .admin-youtube textarea:focus ::-webkit-input-placeholder {
  color: white;
}
/* line 126, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form {
  width: 75%;
  margin: 0 auto;
  padding: 30px;
  overflow: scroll;
  height: calc(80vh - 75px);
}
/* line 132, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form md-chips .md-chips.md-focused, .admin .admin-form md-chips .md-chips {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 136, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form .md-errors-spacer {
  float: none;
}
/* line 139, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form .admin-largelabel,
.admin .admin-form .admin-youtube {
  margin: 15px 0;
  font-size: 1.4rem;
}
/* line 143, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form .admin-largelabel label,
.admin .admin-form .admin-youtube label {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  font-size: 1.7rem;
}
/* line 149, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form .admin-largelabel textarea,
.admin .admin-form .admin-youtube textarea {
  margin: 0;
  font-size: 1.4rem;
}
/* line 154, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form md-input-container {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 158, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form input, .admin .admin-form body,
.admin .admin-form textarea {
  font-family: Lato;
  background-color: #e9e9e9;
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  margin-bottom: 1em;
  height: 30px;
  border: none;
  resize: none;
  padding: 0 10px;
  overflow-y: hidden;
  -webkit-box-shadow: 1px 1px 2px grey;
  box-shadow: 1px 1px 2px grey;
}
/* line 172, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form input ::-webkit-input-placeholder, .admin .admin-form body ::-webkit-input-placeholder,
.admin .admin-form textarea ::-webkit-input-placeholder {
  color: white;
}
/* line 176, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form input:focus ::-webkit-input-placeholder, .admin .admin-form body:focus ::-webkit-input-placeholder,
.admin .admin-form textarea:focus ::-webkit-input-placeholder {
  color: white;
}
/* line 181, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form textarea {
  padding: 15px;
  overflow: scroll;
  max-height: 125px;
  min-height: 125px;
}
/* line 187, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form label {
  padding-left: 10px !important;
  -webkit-transform: translate3d(0, 40px, 0) scale(1);
  transform: translate3d(0, 40px, 0) scale(1);
}

/* line 195, ../sass/_musicnerdz_adminnav.scss */
.small {
  height: auto !important;
}

/* line 199, ../sass/_musicnerdz_adminnav.scss */
#eventSearchForm {
  width: 75%;
  margin: 0 auto;
}
/* line 202, ../sass/_musicnerdz_adminnav.scss */
#eventSearchForm .admin-label {
  width: 50%;
  display: inline-block;
}

/* line 208, ../sass/_musicnerdz_adminnav.scss */
#eventCreationForm {
  height: auto;
}
/* line 210, ../sass/_musicnerdz_adminnav.scss */
#eventCreationForm .md-chips .md-chip-input-container {
  width: 35%;
}
/* line 213, ../sass/_musicnerdz_adminnav.scss */
#eventCreationForm .md-chips {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 217, ../sass/_musicnerdz_adminnav.scss */
#eventCreationForm .btn1 {
  margin: 0 3px;
  width: 200px;
}

/* line 224, ../sass/_musicnerdz_adminnav.scss */
#addResourcesForm md-card:last-child {
  padding: 15px;
}
/* line 227, ../sass/_musicnerdz_adminnav.scss */
#addResourcesForm a {
  width: 300px;
  margin: 0 auto;
}

/* line 235, ../sass/_musicnerdz_adminnav.scss */
#addQuestionsForm .admin-multiple-choice,
#externalEventCreation .admin-multiple-choice {
  padding: 25px;
}
/* line 237, ../sass/_musicnerdz_adminnav.scss */
#addQuestionsForm .admin-multiple-choice md-autocomplete,
#externalEventCreation .admin-multiple-choice md-autocomplete {
  width: 350px;
}

/* line 243, ../sass/_musicnerdz_adminnav.scss */
.md-resize-handle {
  display: none;
}

/* line 247, ../sass/_musicnerdz_adminnav.scss */
.admin-form-desc {
  min-height: 125px !important;
}

/* line 253, ../sass/_musicnerdz_adminnav.scss */
#addSchoolForm input, #addSchoolForm body,
#addTeacherForm input,
#addTeacherForm body {
  margin: 0;
}

/* line 1, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading {
  width: 1000px;
  margin: 25px auto;
  font-size: 3rem;
  font-weight: 300;
  border: 1px solid black;
  background: #fca311;
}
/* line 8, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-info {
  line-height: 30px;
}
/* line 11, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-info .teacher-grading-student {
  font-weight: 300;
  height: 100px;
  padding: 15px;
}
/* line 16, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-info .teacher-grading-song {
  font-weight: 300;
  height: 100px;
  padding: 15px;
  border-left: 1px solid black;
  line-height: 30px;
}
/* line 24, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions, .teacher-grading .teacher-grade-info {
  margin: 35px auto;
  width: 900px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  padding: 10px;
}
/* line 31, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions textarea, .teacher-grading .teacher-grade-info textarea {
  resize: none;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 100px;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}
/* line 42, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .fa-exclamation-circle, .teacher-grading .teacher-grade-info .fa-exclamation-circle,
.teacher-grading .teacher-grade-questions .fa-check-square-o,
.teacher-grading .teacher-grade-info .fa-check-square-o {
  font-size: 2.5rem;
  margin: 0 25px;
  text-align: right;
}
/* line 48, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .fa-check-square-o, .teacher-grading .teacher-grade-info .fa-check-square-o {
  color: green;
}
/* line 51, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .fa-exclamation-circle, .teacher-grading .teacher-grade-info .fa-exclamation-circle {
  color: red;
}
/* line 54, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-results, .teacher-grading .teacher-grade-info .teacher-grade-results {
  margin: 10px 0 25px;
}
/* line 56, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-results span, .teacher-grading .teacher-grade-info .teacher-grade-results span {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #14213d;
  border-bottom: 1px solid #14213d;
}
/* line 64, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry input, .teacher-grading .teacher-grade-info .teacher-grade-entry input, .teacher-grading .teacher-grade-questions .teacher-grade-entry body, .teacher-grading .teacher-grade-info .teacher-grade-entry body {
  width: 25%;
  font-size: 3rem;
  text-align: center;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
}
/* line 71, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry span, .teacher-grading .teacher-grade-info .teacher-grade-entry span {
  display: block;
  padding: 15px 0;
}
/* line 75, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry button, .teacher-grading .teacher-grade-info .teacher-grade-entry button {
  background: #fca311;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  margin: 20px 0;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
/* line 87, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry button:hover, .teacher-grading .teacher-grade-info .teacher-grade-entry button:hover {
  background-color: #fdb643;
}
/* line 90, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry button:active, .teacher-grading .teacher-grade-info .teacher-grade-entry button:active {
  background-color: #d78703;
}
/* line 95, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa, .teacher-grading .teacher-grade-info .teacher-grade-sa, .teacher-grading .teacher-grade-questions .teacher-grade-mc, .teacher-grading .teacher-grade-info .teacher-grade-mc,
.teacher-grading .teacher-grade-questions .teacher-grade-tf,
.teacher-grading .teacher-grade-info .teacher-grade-tf {
  margin-bottom: 15px;
  line-height: 20px;
}
/* line 96, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa span, .teacher-grading .teacher-grade-info .teacher-grade-sa span, .teacher-grading .teacher-grade-questions .teacher-grade-mc span, .teacher-grading .teacher-grade-info .teacher-grade-mc span,
.teacher-grading .teacher-grade-questions .teacher-grade-tf span,
.teacher-grading .teacher-grade-info .teacher-grade-tf span {
  margin: 0;
  font-size: 1.6rem;
}
/* line 100, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa div, .teacher-grading .teacher-grade-info .teacher-grade-sa div, .teacher-grading .teacher-grade-questions .teacher-grade-mc div, .teacher-grading .teacher-grade-info .teacher-grade-mc div,
.teacher-grading .teacher-grade-questions .teacher-grade-tf div,
.teacher-grading .teacher-grade-info .teacher-grade-tf div {
  width: 100%;
}
/* line 102, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa div span, .teacher-grading .teacher-grade-info .teacher-grade-sa div span, .teacher-grading .teacher-grade-questions .teacher-grade-mc div span, .teacher-grading .teacher-grade-info .teacher-grade-mc div span,
.teacher-grading .teacher-grade-questions .teacher-grade-tf div span,
.teacher-grading .teacher-grade-info .teacher-grade-tf div span {
  width: 40%;
  line-height: 0;
}
/* line 107, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa p, .teacher-grading .teacher-grade-info .teacher-grade-sa p, .teacher-grading .teacher-grade-questions .teacher-grade-mc p, .teacher-grading .teacher-grade-info .teacher-grade-mc p,
.teacher-grading .teacher-grade-questions .teacher-grade-tf p,
.teacher-grading .teacher-grade-info .teacher-grade-tf p {
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0;
}
/* line 114, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa .teacher-grade-mc-wrong, .teacher-grading .teacher-grade-info .teacher-grade-sa .teacher-grade-mc-wrong, .teacher-grading .teacher-grade-questions .teacher-grade-mc .teacher-grade-mc-wrong, .teacher-grading .teacher-grade-info .teacher-grade-mc .teacher-grade-mc-wrong,
.teacher-grading .teacher-grade-questions .teacher-grade-tf .teacher-grade-mc-wrong,
.teacher-grading .teacher-grade-info .teacher-grade-tf .teacher-grade-mc-wrong {
  text-decoration: line-through;
  color: red;
}
/* line 118, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa .teacher-grade-mc-right, .teacher-grading .teacher-grade-info .teacher-grade-sa .teacher-grade-mc-right, .teacher-grading .teacher-grade-questions .teacher-grade-mc .teacher-grade-mc-right, .teacher-grading .teacher-grade-info .teacher-grade-mc .teacher-grade-mc-right,
.teacher-grading .teacher-grade-questions .teacher-grade-tf .teacher-grade-mc-right,
.teacher-grading .teacher-grade-info .teacher-grade-tf .teacher-grade-mc-right {
  color: green;
}
/* line 126, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-mc span, .teacher-grading .teacher-grade-info .teacher-grade-mc span,
.teacher-grading .teacher-grade-questions .teacher-grade-tf span,
.teacher-grading .teacher-grade-info .teacher-grade-tf span {
  display: block;
}

/* line 133, ../sass/_musicnerdz_studentgrade.scss */
.fa-pencil-square-o {
  font-size: 3rem;
  cursor: pointer;
}

/* line 138, ../sass/_musicnerdz_studentgrade.scss */
.collapsible-item .body {
  overflow: scroll;
  top: 0;
}

/* line 144, ../sass/_musicnerdz_studentgrade.scss */
.student-grade .student-grade-response {
  font-size: 1.8rem;
  font-family: 'Lato';
}
/* line 145, ../sass/_musicnerdz_studentgrade.scss */
.student-grade .student-grade-response .student-grade-response-bubble-teacher, .student-grade .student-grade-response .student-grade-response-bubble {
  border: 1px solid black;
  margin: 10px 0;
  box-shadow: 2px 2px 2px #b3b3b3;
  background-color: white;
  border-radius: 5px;
}
/* line 150, ../sass/_musicnerdz_studentgrade.scss */
.student-grade .student-grade-response .student-grade-response-bubble-teacher p, .student-grade .student-grade-response .student-grade-response-bubble p {
  margin: 15px;
}
/* line 153, ../sass/_musicnerdz_studentgrade.scss */
.student-grade .student-grade-response .student-grade-response-bubble-teacher h4, .student-grade .student-grade-response .student-grade-response-bubble h4 {
  color: white;
  margin: 0;
  background-color: #14213d;
  padding: 5px;
}
/* line 164, ../sass/_musicnerdz_studentgrade.scss */
.student-grade md-card-title {
  background: #14213d;
  color: white;
  padding: 16px;
}
/* line 170, ../sass/_musicnerdz_studentgrade.scss */
.student-grade h2 {
  color: #fca311;
  line-height: normal;
}

/* line 1, ../sass/_musicnerdz_teacher.scss */
.gradebook, .gradebook table {
  font-size: 2rem;
  font-weight: 400;
  color: black;
}
/* line 2, ../sass/_musicnerdz_teacher.scss */
.gradebook .fa-pencil-square-o {
  color: #006400;
}
/* line 9, ../sass/_musicnerdz_teacher.scss */
.gradebook table tr:nth-child(even) {
  background: #ebebeb6e;
}
/* line 12, ../sass/_musicnerdz_teacher.scss */
.gradebook table tr:nth-child(odd) {
  background: #FFF;
}
/* line 16, ../sass/_musicnerdz_teacher.scss */
.gradebook table tbody tr:hover {
  background: #d1d1d1;
}
/* line 20, ../sass/_musicnerdz_teacher.scss */
.gradebook table span {
  font-size: 2rem;
}
/* line 25, ../sass/_musicnerdz_teacher.scss */
.gradebook p {
  width: 150px;
  margin: 15px auto;
  font-size: 3rem;
  font-weight: 300;
}

/* line 34, ../sass/_musicnerdz_teacher.scss */
.viewclass .accordion-title {
  background: #14213d;
  padding: 16px;
}
/* line 38, ../sass/_musicnerdz_teacher.scss */
.viewclass .clearfix {
  clear: both;
}
/* line 41, ../sass/_musicnerdz_teacher.scss */
.viewclass .deleteClassBtn {
  float: right;
  margin: 20px;
}
/* line 45, ../sass/_musicnerdz_teacher.scss */
.viewclass input, .viewclass body {
  border: 1px solid #e5e5e5;
  text-indent: 15px;
  height: 40px;
  margin-right: 10px;
}
/* line 51, ../sass/_musicnerdz_teacher.scss */
.viewclass .md-headline {
  color: white;
}
/* line 55, ../sass/_musicnerdz_teacher.scss */
.viewclass .md-button:not([disabled]):hover, .viewclass .deleteStudBtn:hover {
  background-color: #fca311;
  color: white;
}
/* line 60, ../sass/_musicnerdz_teacher.scss */
.viewclass .md-button.md-warn, .viewclass .deleteStudBtn {
  min-width: 150px;
  color: #fca311;
  border: 2px solid #fca311;
  font-weight: 800;
}

/* line 69, ../sass/_musicnerdz_teacher.scss */
table.md-table th.md-column {
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

/* line 75, ../sass/_musicnerdz_teacher.scss */
table.md-table td.md-cell,
table.md-table td.md-cell {
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
}

/* line 1, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main {
  height: 100vh;
}
/* line 2, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main iframe {
  margin: 0 25px;
}
/* line 5, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main .md-tab {
  font-weight: 300;
}
/* line 11, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main .student-quiz .details .details-container {
  margin: 0 15px;
  width: 75%;
}
/* line 14, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main .student-quiz .details .details-container .assignBlock {
  width: 100%;
}
/* line 16, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main .student-quiz .details .details-container .assignBlock md-input-container {
  background-color: white;
  width: 100%;
  height: 30px;
}
/* line 23, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main .student-quiz .details .details-container .student-quiz-title {
  font-weight: 800;
  font-size: 3.5rem;
  margin: 0 0 25px;
  color: #fca311;
}
/* line 29, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main .student-quiz .details .details-container .student-quiz-artist {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}
/* line 34, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main .student-quiz .details .details-container .student-quiz-details {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
  line-height: normal;
}
/* line 41, ../sass/_musicnerdz_quiz.scss */
.student-quiz-main .student-quiz .details .details-container .student-quiz-desc {
  max-height: 125px;
  line-height: normal;
  overflow: scroll;
}

/* line 53, ../sass/_musicnerdz_quiz.scss */
.student-quiz-module md-tab-content pre {
  padding: 0;
}
/* line 57, ../sass/_musicnerdz_quiz.scss */
.student-quiz-module md-radio-button {
  text-transform: capitalize;
}
/* line 60, ../sass/_musicnerdz_quiz.scss */
.student-quiz-module .lyrics {
  font-weight: 400;
  font-family: lato;
}
/* line 64, ../sass/_musicnerdz_quiz.scss */
.student-quiz-module md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  height: 100%;
}
/* line 67, ../sass/_musicnerdz_quiz.scss */
.student-quiz-module .mod {
  height: 100%;
}
/* line 70, ../sass/_musicnerdz_quiz.scss */
.student-quiz-module md-tabs.md-dynamic-height md-tabs-content-wrapper {
  margin: 0 auto;
  width: 85%;
}
/* line 74, ../sass/_musicnerdz_quiz.scss */
.student-quiz-module .student-quiz-lesson {
  margin: 35px;
  padding: 0 25px 75px;
}
/* line 77, ../sass/_musicnerdz_quiz.scss */
.student-quiz-module .student-quiz-lesson textarea {
  border: 1px solid black;
}

/* line 83, ../sass/_musicnerdz_quiz.scss */
.fixed {
  background-color: black;
  color: white;
  min-height: 355px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 91, ../sass/_musicnerdz_quiz.scss */
  .md-padding {
    padding: 40px;
  }

  /* line 96, ../sass/_musicnerdz_quiz.scss */
  .student-quiz .details .details-container {
    margin: 0 35px;
  }
  /* line 99, ../sass/_musicnerdz_quiz.scss */
  .student-quiz .details .student-quiz-artist {
    font-weight: 300;
    font-size: 4rem;
  }
  /* line 103, ../sass/_musicnerdz_quiz.scss */
  .student-quiz .details .student-quiz-details {
    font-weight: 300;
    font-size: 3rem;
  }
}
