/* HSL */
/* RGB */
/* line 39, ../sass/_variables.scss */
html {
  font-size: 10px;
}

/* line 45, ../sass/_variables.scss */
body, input {
  font-family: 'Lato';
}

/* line 49, ../sass/_variables.scss */
textarea:focus, input:focus {
  outline: none;
}

/* line 53, ../sass/_variables.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 2, ../sass/_musicnerdz_login.scss */
[class*="fa "]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* line 6, ../sass/_musicnerdz_login.scss */
input {
  border: none;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

/* line 14, ../sass/_musicnerdz_login.scss */
.instructions {
  background-color: #fca311;
  background-image: url("../../assets/images/nav.jpeg");
  background-size: cover;
  min-height: 300px;
  opacity: .9;
  padding: 0;
  height: calc(100vh - 75px);
}
/* line 22, ../sass/_musicnerdz_login.scss */
.instructions .lead {
  font-size: 2.5rem;
  text-shadow: 3px 3px black;
  margin: 0;
  padding: 25px;
  text-align: center;
}
/* line 28, ../sass/_musicnerdz_login.scss */
.instructions .lead span {
  color: #fca311;
}
/* line 32, ../sass/_musicnerdz_login.scss */
.instructions > div {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 5px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/* line 41, ../sass/_musicnerdz_login.scss */
.loginControls {
  width: 625px;
  padding: 0 22px;
}

/* line 46, ../sass/_musicnerdz_login.scss */
.login {
  margin: 50px auto;
  width: 625px;
}
/* line 49, ../sass/_musicnerdz_login.scss */
.login form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
}
/* line 50, ../sass/_musicnerdz_login.scss */
.login form .fa {
  font-size: 2em;
}
/* line 56, ../sass/_musicnerdz_login.scss */
.login form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 61, ../sass/_musicnerdz_login.scss */
.login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}
/* line 73, ../sass/_musicnerdz_login.scss */
.login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #e5e5e5;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}
/* line 82, ../sass/_musicnerdz_login.scss */
.login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #e5e5e5;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}
/* line 91, ../sass/_musicnerdz_login.scss */
.login form input[type="submit"] {
  background: #fca311;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
/* line 102, ../sass/_musicnerdz_login.scss */
.login form input[type="submit"]:hover {
  background: #d78703;
}

/* line 108, ../sass/_musicnerdz_login.scss */
.radio-tile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 117, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container {
  position: relative;
  margin: .5rem;
}
/* line 120, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
/* line 130, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #fca311;
  border-radius: 5px;
  padding: 1rem;
  background: white;
  box-shadow: 2px 2px 5px grey;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
/* line 155, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fca311;
}
/* line 163, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #fca311;
  border: 2px solid #fca311;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 170, ../sass/_musicnerdz_login.scss */
.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
  color: white;
  background-color: #fca311;
}

/* line 1, ../sass/_musicnerdz_home.scss */
.navbar {
  color: white;
  font-size: 3rem;
  position: relative;
  z-index: 3;
}
/* line 6, ../sass/_musicnerdz_home.scss */
.navbar span {
  color: #fca311;
}
/* line 9, ../sass/_musicnerdz_home.scss */
.navbar .container {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  height: 75px;
}
/* line 14, ../sass/_musicnerdz_home.scss */
.navbar .container a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
/* line 19, ../sass/_musicnerdz_home.scss */
.navbar .container input {
  width: 100%;
  text-align: center;
  height: 55px;
  line-height: 55px;
  border-radius: 0;
  margin: 10px 0;
  background-color: #f6f6f6;
  font-size: 2rem;
}
/* line 28, ../sass/_musicnerdz_home.scss */
.navbar .container input ::-webkit-input-placeholder {
  color: white;
}
/* line 32, ../sass/_musicnerdz_home.scss */
.navbar .container button {
  height: 55px;
  width: 75px;
  border: 1px solid #e6e6e6;
  background-color: white;
  font-size: 3rem;
  padding: 0;
  border-radius: 0;
  cursor: default;
}
/* line 41, ../sass/_musicnerdz_home.scss */
.navbar .container button:active, .navbar .container button:focus {
  outline: none;
}
/* line 45, ../sass/_musicnerdz_home.scss */
.navbar .container button i {
  text-align: center;
}
/* line 50, ../sass/_musicnerdz_home.scss */
.navbar .container .student-nav a {
  font-size: 1.6rem;
  margin: 0 35px;
  padding: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background: #fca311;
  height: 55px;
}
/* line 57, ../sass/_musicnerdz_home.scss */
.navbar .container .student-nav a .fa-line-chart {
  margin: 5px;
}
/* line 62, ../sass/_musicnerdz_home.scss */
.navbar .container .main-logo {
  color: black;
  margin: 0px 30px;
  font-size: 3rem;
}
/* line 66, ../sass/_musicnerdz_home.scss */
.navbar .container .main-logo img {
  width: 150px;
}

/* line 73, ../sass/_musicnerdz_home.scss */
.main {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: 200px;
  overflow: hidden;
}
/* line 79, ../sass/_musicnerdz_home.scss */
.main .main-carousel {
  -webkit-box-shadow: 0px 1px 5px black;
  box-shadow: 0px 1px 5px black;
  position: relative;
  z-index: 2;
  background-color: #a8a8a8;
}
/* line 86, ../sass/_musicnerdz_home.scss */
.main .main-display {
  position: relative;
  z-index: 1;
  padding: 0 0;
  margin: 25px 0;
}
/* line 92, ../sass/_musicnerdz_home.scss */
.main .main-container,
.main .main-assigned {
  overflow: visible;
  padding: 0 50px;
}
/* line 96, ../sass/_musicnerdz_home.scss */
.main .main-container h1,
.main .main-assigned h1 {
  line-height: normal;
  margin: 20px;
  font-size: 3rem;
}
/* line 102, ../sass/_musicnerdz_home.scss */
.main .main-completed {
  line-height: normal;
  margin: 20px;
  font-size: 3rem;
}
/* line 107, ../sass/_musicnerdz_home.scss */
.main .container {
  height: auto;
}

/* line 112, ../sass/_musicnerdz_home.scss */
.tile {
  height: 275px;
  width: 325px;
  background-color: white;
  line-height: normal;
  margin: 0 0 25px;
  -webkit-box-shadow: 0px 1px 5px #777777;
  box-shadow: 0px 1px 5px #777777;
}
/* line 120, ../sass/_musicnerdz_home.scss */
.tile p {
  margin: 0;
}
/* line 123, ../sass/_musicnerdz_home.scss */
.tile .tile-artist {
  font-weight: 800;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
/* line 131, ../sass/_musicnerdz_home.scss */
.tile .tile-name {
  font-size: 1.5rem;
}
/* line 134, ../sass/_musicnerdz_home.scss */
.tile .tile-art {
  background-image: url("http://s0.limitedrun.com/images/1248348/daisy-4fa4818edd221.jpg");
  background-size: cover;
  background-position: 100% 25%;
  height: 200px;
}
/* line 139, ../sass/_musicnerdz_home.scss */
.tile .tile-art img {
  max-width: 100px;
}
/* line 143, ../sass/_musicnerdz_home.scss */
.tile .tile-details {
  -webkit-box-shadow: 0px 1px 5px #777777;
  box-shadow: 0px 1px 5px #777777;
}
/* line 146, ../sass/_musicnerdz_home.scss */
.tile .tile-details .tile-album {
  font-size: 3em;
  line-height: 40px;
}
/* line 149, ../sass/_musicnerdz_home.scss */
.tile .tile-details .tile-album .fa-check-square-o {
  color: #fca311;
}
/* line 153, ../sass/_musicnerdz_home.scss */
.tile .tile-details .tile-name {
  border-right: 1px solid #777777;
  max-height: 45px;
}

/* line 161, ../sass/_musicnerdz_home.scss */
.carousel-item img {
  max-width: 225px;
}
/* line 164, ../sass/_musicnerdz_home.scss */
.carousel-item .tile-art {
  background-position: 100% 40%;
  -webkit-box-shadow: 0px 1px 5px #333333;
  box-shadow: 0px 1px 5px #333333;
  height: 235px;
}
/* line 170, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display {
  color: white;
}
/* line 172, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile {
  margin: 0;
  height: auto;
}
/* line 176, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-artist {
  font-weight: 100;
}
/* line 179, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-record {
  font-weight: 300;
}
/* line 182, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-artist,
.carousel-item .main-display .tile-record {
  font-size: 4.5rem;
  line-height: normal;
  margin: 0;
  padding-left: 35px;
}
/* line 189, ../sass/_musicnerdz_home.scss */
.carousel-item .main-display .tile-desc {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  padding: 35px;
  line-height: normal;
  text-align: left;
}

/* line 202, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-prev .carousel-btn {
  left: inherit;
}
/* line 207, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-next .carousel-btn {
  right: 0;
}
/* line 211, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-btn {
  opacity: 1;
}
/* line 213, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-btn:active {
  color: black;
}
/* line 216, ../sass/_musicnerdz_home.scss */
.ui-carousel .carousel-btn:hover {
  color: black;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 223, ../sass/_musicnerdz_home.scss */
  .main {
    width: 100%;
  }
  /* line 225, ../sass/_musicnerdz_home.scss */
  .main .main-container {
    width: 95%;
    margin: 25px auto;
  }
  /* line 229, ../sass/_musicnerdz_home.scss */
  .main .main-carousel {
    width: 100%;
  }
  /* line 233, ../sass/_musicnerdz_home.scss */
  .main .carousel-item .main-display {
    padding: 0;
  }

  /* line 240, ../sass/_musicnerdz_home.scss */
  .navbar .container .search-form {
    margin: 0 15px;
  }
  /* line 244, ../sass/_musicnerdz_home.scss */
  .navbar .container .student-nav a {
    font-size: 2rem;
    color: black;
    margin: 0 5px;
  }
}
/* line 2, ../sass/_musicnerdz_teachernav.scss */
.teacher .container {
  height: 75px;
}
/* line 7, ../sass/_musicnerdz_teachernav.scss */
.teacher .teacher-nav a:before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fca311;
  display: inline-block;
  margin: 0 10px;
}
/* line 16, ../sass/_musicnerdz_teachernav.scss */
.teacher .teacher-nav a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/_musicnerdz_adminnav.scss */
.admin {
  font-family: 'Lato';
}
/* line 3, ../sass/_musicnerdz_adminnav.scss */
.admin .container {
  height: 75px;
}
/* line 8, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-nav a:before {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fca311;
  display: inline-block;
  margin: 0 10px;
}
/* line 17, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-nav a:hover {
  text-decoration: underline;
}
/* line 22, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-title {
  background: #14213d;
  text-align: center;
  -webkit-box-shadow: 0px 3px 3px grey;
  box-shadow: 0px 3px 3px grey;
}
/* line 27, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-title .md-headline {
  color: white;
  font-weight: 300;
}
/* line 33, ../sass/_musicnerdz_adminnav.scss */
.admin .centerbutton .btn1 {
  width: 300px;
  margin: 0 auto;
}
/* line 38, ../sass/_musicnerdz_adminnav.scss */
.admin form {
  font-size: 2rem;
}
/* line 41, ../sass/_musicnerdz_adminnav.scss */
.admin input {
  font-size: 2rem;
  font-family: Lato;
  background-color: #e9e9e9;
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  margin-bottom: 1em;
  height: 30px;
  border: none;
  resize: none;
  overflow-y: hidden;
  -webkit-box-shadow: 1px 1px 2px grey;
  box-shadow: 1px 1px 2px grey;
  padding: 15px;
  overflow: scroll;
  max-height: 125px;
}
/* line 57, ../sass/_musicnerdz_adminnav.scss */
.admin input ::-webkit-input-placeholder {
  color: white;
}
/* line 61, ../sass/_musicnerdz_adminnav.scss */
.admin input:focus ::-webkit-input-placeholder {
  color: white;
}
/* line 66, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container {
  width: 1200px;
  margin: 0 auto;
}
/* line 69, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .quizSummary {
  margin: 38px 0;
}
/* line 72, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-label {
  margin: 0px;
  position: initial;
  font-size: 2rem;
}
/* line 77, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .btn1 {
  -webkit-box-shadow: 0px 3px 3px grey;
  box-shadow: 0px 3px 3px grey;
  width: 300px;
  margin: 10px auto;
  border-radius: 10px;
}
/* line 84, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container md-select {
  font-size: 2rem;
}
/* line 88, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-youtube button {
  width: 300px;
  margin: 0px auto;
}
/* line 92, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-youtube input,
.admin .admin-container .admin-youtube textarea {
  font-family: Lato;
  background-color: #e9e9e9;
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  margin-bottom: 1em;
  height: 30px;
  border: none;
  resize: none;
  overflow-y: hidden;
  -webkit-box-shadow: 1px 1px 2px grey;
  box-shadow: 1px 1px 2px grey;
  padding: 15px;
  overflow: scroll;
  max-height: 125px;
  min-height: 125px;
}
/* line 109, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-youtube input ::-webkit-input-placeholder,
.admin .admin-container .admin-youtube textarea ::-webkit-input-placeholder {
  color: white;
}
/* line 113, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-container .admin-youtube input:focus ::-webkit-input-placeholder,
.admin .admin-container .admin-youtube textarea:focus ::-webkit-input-placeholder {
  color: white;
}
/* line 120, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form {
  width: 75%;
  margin: 0 auto;
  padding: 30px;
  overflow: scroll;
  height: calc(80vh - 75px);
}
/* line 126, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form md-chips .md-chips.md-focused, .admin .admin-form md-chips .md-chips {
  box-shadow: none;
}
/* line 129, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form .md-errors-spacer {
  float: none;
}
/* line 132, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form .admin-largelabel,
.admin .admin-form .admin-youtube {
  margin: 15px 0;
  font-size: 1.4rem;
}
/* line 136, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form .admin-largelabel label,
.admin .admin-form .admin-youtube label {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  font-size: 1.7rem;
}
/* line 142, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form .admin-largelabel textarea,
.admin .admin-form .admin-youtube textarea {
  margin: 0;
  font-size: 1.4rem;
}
/* line 147, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form md-input-container {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 151, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form input,
.admin .admin-form textarea {
  font-family: Lato;
  background-color: #e9e9e9;
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  margin-bottom: 1em;
  height: 30px;
  border: none;
  resize: none;
  padding: 0 10px;
  overflow-y: hidden;
  -webkit-box-shadow: 1px 1px 2px grey;
  box-shadow: 1px 1px 2px grey;
}
/* line 165, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form input ::-webkit-input-placeholder,
.admin .admin-form textarea ::-webkit-input-placeholder {
  color: white;
}
/* line 169, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form input:focus ::-webkit-input-placeholder,
.admin .admin-form textarea:focus ::-webkit-input-placeholder {
  color: white;
}
/* line 174, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form textarea {
  padding: 15px;
  overflow: scroll;
  max-height: 125px;
  min-height: 125px;
}
/* line 180, ../sass/_musicnerdz_adminnav.scss */
.admin .admin-form label {
  padding-left: 10px !important;
  -webkit-transform: translate3d(0, 40px, 0) scale(1);
  transform: translate3d(0, 40px, 0) scale(1);
}

/* line 188, ../sass/_musicnerdz_adminnav.scss */
.small {
  height: auto !important;
}

/* line 192, ../sass/_musicnerdz_adminnav.scss */
#eventSearchForm {
  width: 75%;
  margin: 0 auto;
}
/* line 195, ../sass/_musicnerdz_adminnav.scss */
#eventSearchForm .admin-label {
  width: 50%;
  display: inline-block;
}

/* line 201, ../sass/_musicnerdz_adminnav.scss */
#eventCreationForm {
  height: auto;
}
/* line 203, ../sass/_musicnerdz_adminnav.scss */
#eventCreationForm .md-chips .md-chip-input-container {
  width: 35%;
}
/* line 206, ../sass/_musicnerdz_adminnav.scss */
#eventCreationForm .md-chips {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 210, ../sass/_musicnerdz_adminnav.scss */
#eventCreationForm .btn1 {
  margin: 0 3px;
  width: 200px;
}

/* line 217, ../sass/_musicnerdz_adminnav.scss */
#addResourcesForm md-card:last-child {
  margin-top: 30px;
  padding: 15px;
}
/* line 221, ../sass/_musicnerdz_adminnav.scss */
#addResourcesForm a {
  width: 300px;
  margin: 0 auto;
}

/* line 229, ../sass/_musicnerdz_adminnav.scss */
#addQuestionsForm .admin-multiple-choice,
#externalEventCreation .admin-multiple-choice {
  padding: 25px;
}
/* line 231, ../sass/_musicnerdz_adminnav.scss */
#addQuestionsForm .admin-multiple-choice md-autocomplete,
#externalEventCreation .admin-multiple-choice md-autocomplete {
  width: 350px;
}

/* line 237, ../sass/_musicnerdz_adminnav.scss */
.md-resize-handle {
  display: none;
}

/* line 241, ../sass/_musicnerdz_adminnav.scss */
.admin-form-desc {
  min-height: 125px !important;
}

/* line 247, ../sass/_musicnerdz_adminnav.scss */
#addSchoolForm input,
#addTeacherForm input {
  margin: 0;
}

/* line 1, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading {
  width: 1000px;
  margin: 25px auto;
  font-size: 3rem;
  font-weight: 300;
  border: 1px solid black;
  background: #fca311;
}
/* line 10, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-info .teacher-grading-student {
  font-weight: 300;
  height: 100px;
  padding: 15px;
}
/* line 15, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-info .teacher-grading-song {
  font-weight: 300;
  height: 100px;
  padding: 15px;
  border-left: 1px solid black;
}
/* line 22, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions, .teacher-grading .teacher-grade-info {
  margin: 35px auto;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  padding: 10px;
}
/* line 29, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions textarea, .teacher-grading .teacher-grade-info textarea {
  resize: none;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 100px;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}
/* line 40, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .fa-exclamation-circle, .teacher-grading .teacher-grade-info .fa-exclamation-circle,
.teacher-grading .teacher-grade-questions .fa-check-square-o,
.teacher-grading .teacher-grade-info .fa-check-square-o {
  font-size: 2.5rem;
  margin: 0 25px;
  text-align: right;
}
/* line 46, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .fa-check-square-o, .teacher-grading .teacher-grade-info .fa-check-square-o {
  color: green;
}
/* line 49, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .fa-exclamation-circle, .teacher-grading .teacher-grade-info .fa-exclamation-circle {
  color: red;
}
/* line 52, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-results, .teacher-grading .teacher-grade-info .teacher-grade-results {
  margin: 10px 0 25px;
}
/* line 54, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-results span, .teacher-grading .teacher-grade-info .teacher-grade-results span {
  text-align: center;
  border-top: 1px solid #14213d;
  border-bottom: 1px solid #14213d;
}
/* line 61, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry input, .teacher-grading .teacher-grade-info .teacher-grade-entry input {
  width: 25%;
  font-size: 3rem;
  text-align: center;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
}
/* line 68, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry span, .teacher-grading .teacher-grade-info .teacher-grade-entry span {
  display: block;
}
/* line 71, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry button, .teacher-grading .teacher-grade-info .teacher-grade-entry button {
  background: #fca311;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  margin: 20px 0;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
/* line 83, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry button:hover, .teacher-grading .teacher-grade-info .teacher-grade-entry button:hover {
  background-color: #fdb643;
}
/* line 86, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-entry button:active, .teacher-grading .teacher-grade-info .teacher-grade-entry button:active {
  background-color: #d78703;
}
/* line 91, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa, .teacher-grading .teacher-grade-info .teacher-grade-sa, .teacher-grading .teacher-grade-questions .teacher-grade-mc, .teacher-grading .teacher-grade-info .teacher-grade-mc,
.teacher-grading .teacher-grade-questions .teacher-grade-tf,
.teacher-grading .teacher-grade-info .teacher-grade-tf {
  margin-bottom: 15px;
  line-height: 20px;
}
/* line 92, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa span, .teacher-grading .teacher-grade-info .teacher-grade-sa span, .teacher-grading .teacher-grade-questions .teacher-grade-mc span, .teacher-grading .teacher-grade-info .teacher-grade-mc span,
.teacher-grading .teacher-grade-questions .teacher-grade-tf span,
.teacher-grading .teacher-grade-info .teacher-grade-tf span {
  margin: 0;
  font-size: 1.6rem;
}
/* line 96, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa div, .teacher-grading .teacher-grade-info .teacher-grade-sa div, .teacher-grading .teacher-grade-questions .teacher-grade-mc div, .teacher-grading .teacher-grade-info .teacher-grade-mc div,
.teacher-grading .teacher-grade-questions .teacher-grade-tf div,
.teacher-grading .teacher-grade-info .teacher-grade-tf div {
  width: 100%;
}
/* line 98, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa div span, .teacher-grading .teacher-grade-info .teacher-grade-sa div span, .teacher-grading .teacher-grade-questions .teacher-grade-mc div span, .teacher-grading .teacher-grade-info .teacher-grade-mc div span,
.teacher-grading .teacher-grade-questions .teacher-grade-tf div span,
.teacher-grading .teacher-grade-info .teacher-grade-tf div span {
  width: 40%;
  line-height: 0;
}
/* line 103, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa p, .teacher-grading .teacher-grade-info .teacher-grade-sa p, .teacher-grading .teacher-grade-questions .teacher-grade-mc p, .teacher-grading .teacher-grade-info .teacher-grade-mc p,
.teacher-grading .teacher-grade-questions .teacher-grade-tf p,
.teacher-grading .teacher-grade-info .teacher-grade-tf p {
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0;
}
/* line 110, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa .teacher-grade-mc-wrong, .teacher-grading .teacher-grade-info .teacher-grade-sa .teacher-grade-mc-wrong, .teacher-grading .teacher-grade-questions .teacher-grade-mc .teacher-grade-mc-wrong, .teacher-grading .teacher-grade-info .teacher-grade-mc .teacher-grade-mc-wrong,
.teacher-grading .teacher-grade-questions .teacher-grade-tf .teacher-grade-mc-wrong,
.teacher-grading .teacher-grade-info .teacher-grade-tf .teacher-grade-mc-wrong {
  text-decoration: line-through;
  color: red;
}
/* line 114, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-sa .teacher-grade-mc-right, .teacher-grading .teacher-grade-info .teacher-grade-sa .teacher-grade-mc-right, .teacher-grading .teacher-grade-questions .teacher-grade-mc .teacher-grade-mc-right, .teacher-grading .teacher-grade-info .teacher-grade-mc .teacher-grade-mc-right,
.teacher-grading .teacher-grade-questions .teacher-grade-tf .teacher-grade-mc-right,
.teacher-grading .teacher-grade-info .teacher-grade-tf .teacher-grade-mc-right {
  color: green;
}
/* line 122, ../sass/_musicnerdz_studentgrade.scss */
.teacher-grading .teacher-grade-questions .teacher-grade-mc span, .teacher-grading .teacher-grade-info .teacher-grade-mc span,
.teacher-grading .teacher-grade-questions .teacher-grade-tf span,
.teacher-grading .teacher-grade-info .teacher-grade-tf span {
  display: block;
}
