.teacher-grading {
    width: 1000px;
    margin: 25px auto;
    font-size: 3rem;
    font-weight: 300;
    border: 1px solid $black;
    background: $orange;
    .teacher-grade-info {
        line-height: 30px;
        @extend .teacher-grade-questions;
        .teacher-grading-student {
            font-weight: 300;
            height: 100px;
            padding: 15px;
        }
        .teacher-grading-song {
            font-weight: 300;
            height: 100px;
            padding: 15px;
            border-left: 1px solid black;
            line-height: 30px;
        }
    }
    .teacher-grade-questions {
        margin: 35px auto;
        width: 900px;
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
        padding: 10px;
        textarea {
            resize: none;
            font-size: 1.5rem;
            display: block;
            width: 100%;
            height: 100px;
            margin-top: 40px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid $grey;
        }
        .fa-exclamation-circle,
        .fa-check-square-o {
            font-size: 2.5rem;
            margin: 0 25px;
            text-align: right;
        }
        .fa-check-square-o {
            color: green;
        }
        .fa-exclamation-circle {
            color: red;
        }
        .teacher-grade-results {
            margin: 10px 0 25px;
            span {
                text-align: center;
                padding: 15px;
                border-top: 1px solid $blue;
                border-bottom: 1px solid $blue;
            }
        }
        .teacher-grade-entry {
            input {
                width: 25%;
                font-size: 3rem;
                text-align: center;
                border: 1px solid $grey;
                text-transform: uppercase;
            }
            span {
                display: block;
                padding: 15px 0;
            }
            button {
                background: $orange;
                border: 0;
                width: 100%;
                height: 40px;
                border-radius: 3px;
                margin: 20px 0;
                color: $white;
                cursor: pointer;
                -webkit-transition: background 0.3s ease-in-out;
                -o-transition: background 0.3s ease-in-out;
                transition: background 0.3s ease-in-out;
                &:hover {
                    background-color: lighten($orange, 10%);
                }
                &:active {
                    background-color: darken($orange, 10%);
                }
            }
        }
        .teacher-grade-sa {
            span {
                margin: 0;
                font-size: 1.6rem;
            }
            div {
                width: 100%;
                span {
                    width: 40%;
                    line-height: 0;
                }
            }
            p {
                font-weight: 800;
                font-size: 1.5rem;
                margin: 0;
            }
            margin-bottom: 15px;
            line-height: 20px;
            .teacher-grade-mc-wrong {
                text-decoration: line-through;
                color: red;
            }
            .teacher-grade-mc-right {
                color: green;
            }
        }
        .teacher-grade-mc,
        .teacher-grade-tf,
        {
            @extend .teacher-grade-sa;
            span {
                display: block;
            }
        }
    }
}

.fa-pencil-square-o {
    font-size: 3rem;
    cursor: pointer;
}