.navbar {
    color: $white;
    font-size: 3rem;
    position: relative;
    z-index: 3;
    span {
        color: $orange;
    }
    .container {
        background-color: $white;
        box-shadow: 0px 0px 10px black;
        height: auto;
        a {
            @include font-medium;
        }
        input {
            width: 100%;
            text-align: center;
            height: 55px;
            line-height: 55px;
            border-radius: 0;
            margin: 10px 0;
            background-color: #f6f6f6;
            font-size: 2rem;
             ::-webkit-input-placeholder {
                color: $white;
            }
        }
        button {
            height: 55px;
            width: 75px;
            border: 1px solid #e6e6e6;
            background-color: $white;
            font-size: 3rem;
            padding: 0;
            i {
                text-align: center;
            }
        }
        .main-logo {
            color: $black;
            margin: 0px 30px;
        }
    }
}

.main {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    line-height: 200px;
    overflow: hidden;
    .main-carousel {
        box-shadow: 0px 1px 5px $black;
        position: relative;
        z-index: 2;
        background-color: #cecece;
    }
    .main-display {
        position: relative;
        z-index: 1;
        padding: 0 75px;
        margin: 25px 0;
        .tile {
            height: 275px;
            width: 175px;
            background-color: $white;
            line-height: normal;
            margin: 0 20px;
            p {
                margin: 0;
            }
            .tile-artist {
                font-weight: 800;
                text-overflow: ellipsis;
                width: 145px;
                overflow: hidden;
                white-space: nowrap;
            }
            .tile-art {
                background-image: url('http://s0.limitedrun.com/images/1248348/daisy-4fa4818edd221.jpg');
                background-size: cover;
                background-position: 100% 10%;
                height: 220px;
                img {
                    max-width: 100px;
                }
            }
            .tile-details {
                box-shadow: 0px 1px 5px #777777;
                .tile-album {
                    font-size: 3em;
                    line-height: 40px;
                }
                .tile-name {
                    border-right: 1px solid #777777;
                    max-height: 35px;
                }
            }
        }
    }
    .container {
        height: auto;
    }
}