<div class="navbar admin">
    <div class="container" layout="row" layout-align="start center" flex=100>
        <a href="/#/user" flex=25>
            <div class="main-logo" flex="noshrink">Music<span>Nerdz</span>
            </div>
        </a>
        <div flex layout="row" layout-align="end">
            <li flex layout="row" layout-align="end center" class="admin-nav">
                <a href="/#/admin/songCreation">Create Module</a>
                <a href="/#/admin/additionalResources">Additional Resources</a>
                <a href="/#/admin/eventCreation">Associate Events</a>
                <a href="/#/admin/quizCreation">Create Quiz</a>
                <a href="/#/admin/externalEventCreation">Create Historic Events</a>
                <a href="/#/admin/userMgmt">User Management</a>     
            </li>
        </div>
    </div>
</div>