<section class="admin">
    <div>
        <md-card class="admin-container">
            <md-card-title class="admin-title">
                <md-card-title-text class="md-headline">
                    Student Feedback
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="column">
                    <div layout="row" flex="100" layout-align="center center" layout-wrap>
                        <md-card flex="25" ng-repeat="fb in avc.userObject.feedback" ng-show="fb.admin_notes !== null">
                            <md-card-content class="md-padding">
                                {{fb.admin_notes}}
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</section>