<div class="navbar admin">
    <div class="container" layout="row" layout-align="start center" flex=100>
        <a href="/#/user" flex=25>
            <div class="main-logo" flex="noshrink">Music<span>Nerdz</span>
            </div>
        </a>
        <div flex layout="row" layout-align="end">
            <li flex layout="row" layout-align="end center" class="admin-nav">
                <a href="/#/admin/songCreation">Create Module</a>
                <a href="/#/admin/eventCreation">Create History</a>
                <a href="/#/admin/userMgmt">Create Teacher</a>
                <a href="/#/admin/quizCreation">Create Quiz</a>
                
                
            </li>
        </div>
    </div>
</div>