<div class="navbar">
  <div class="container" layout="row" layout-align="center center" flex=100>
    <a href="/#/user" flex=none>
      <div class="main-logo" flex="noshrink">Music
        <span>Nerdz</span>
      </div>
    </a>
    <div flex>
      <div class="search-form" layout="row" layout-align="start center" ng-hide="lc.path === '/home'">
        <form ng-submit="" layout="row" layout-align="space-between center" flex=100>
          <input type="text" placeholder="Search by artist or song" ng-model="uc.search">
          <button>
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
    <div flex=25 layout="row" layout-align="end" ng-cloak>
      <li flex layout="row" layout-align="end center" class="student-nav">
        <a href="/#/" ng-show="uc.userObject.user.students_id" layout="row" layout-align="center center" flex>
          <i class="fa fa-line-chart" aria-hidden="true"></i>View Grades</a>
        <a href="/#/home" ng-show="lc.path !== '/home' && !uc.userObject.user" ng-cloak layout="row" layout-align="center center" flex=nogrow class="login">
          <i class="fa fa-sign-in" aria-hidden="true"></i>Log In</a>
        <a ng-click="uc.userService.logout()" ng-show="uc.userObject.user" layout="row" layout-align="center center" flex>
          <i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
      </li>
    </div>
  </div>
</div>