<div class="navbar">
  <div class="container" layout="row" layout-align="space-between center">
    <div class="main-logo" flex="noshrink">Music
      <span>Nerdz</span>
    </div>
    <div flex=45>
      <div class="search-form" layout="row" layout-align="space-between center">
        <form ng-submit="" layout="row" layout-align="space-between center" flex=100>
          <input type="text" placeholder="Search by artist or song">
          <button>
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
    <ul flex=25>
      <li>
        <a href="#/user">Login</a>
      </li>
    </ul>
  </div>
</div>