<section>
    <div ng-include="'views/partials/admin_nav.html'"></div>
    <md-card md-padding layout="column">
        <md-card-title>
            <md-card-title-text>
                Admin Landing Page - Placeholder until all final views are completed.
            </md-card-title-text>
        </md-card-title>
        <div layout="row">
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/register">Register</md-button>
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/home">Home</md-button>
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/admin/songCreation">Song/Module Creation</md-button>
        </div>
        <div layout="row">
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/admin/quizCreation">Quiz Creation</md-button>
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/admin/eventCreation">Historical Event Creation</md-button>
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/admin/userMgmt">Admin User Management</md-button>
        </div>
        <div layout="row">
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/user">Main Landing Page</md-button>
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/student/module">Student Module View</md-button>
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/student/grades">Student Grade View</md-button>
        </div>
        <div layout="row">
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/info">Info</md-button>
            <md-button flex="33" class="btn md-primary md-raised" ng-href="#/viewclass">View Class</md-button>
            <div flex="33" layout-fill></div>
        </div>
    </md-card>
</section>