<section ng-init="avc.getModules()" class="admin">
    <div ng-include="'views/partials/admin_nav.html'" ng-controller="UserController as uc"></div>
    <md-card class="admin-container">
        <md-card-title class="admin-title">
            <md-card-title-text class="md-headline">
                    Module Management
            </md-card-title>
        </md-card-title-text>
        <md-card-content class="md-padding">
            <div class="admin-landing-page">
                <md-table-container>
                    <table md-table>
                        <thead md-head md-row-select multiple class="md-padding">
                            <th md-column>Module ID</th>
                            <th md-column>Song Title</th>
                            <th md-column>Song Album</th>
                            <th md-column>Song Artist</th>
                            <th md-column>View Feedback</th>
                        </thead>
                        <tbody md-body>
                            <div>
                                <tr ng-repeat="mod in avc.modList.data">
                                    <td md-cell>{{mod.id}}</td>
                                    <td md-cell>{{mod.title}}</td>
                                    <td md-cell>{{mod.album}}</td>
                                    <td md-cell>{{mod.artist}}</td>
                                    <td md-cell>
                                        <md-button class="md-warn" ng-click="showFeedback($event); avc.getFeedback(mod.id) ">View Feedback</md-button>
                                    </td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </md-card-content>
    </md-card>
</section>