<section ng-init="auc.getSchools()">
    <div layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Create School:</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h1 class="lead alert alert-danger" role="alert" ng-if="auc.message != ''">{{lc.message}}</h2>
                    <form ng-submit="auc.addSchool(auc.schoolName)">
                        <md-input-container flex="100">
                            <label for="name">Name</label>
                            <input ng-model="auc.schoolName" md-select-on-focus required>
                        </md-input-container>
                        <md-button class="btn btn-default" type="submit" name="submit" value="addSchool">Add School</md-button>
                        <md-button class="btn btn-default">
                            <a href="#home" style="text-decoration: none">Cancel</a>
                            <!-- will need to update to move to admin landing page or clear form-->
                        </md-button>
                    </form>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Create Teacher:</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
                    <form ng-submit="auc.addTeacher(auc.teacherFName, auc.teacherLName, auc.teacherEmail, auc.teacherSchool)">
                        <md-input-container>
                            <label for="schoolList">Existing Schools</label>
                            <md-select placeholder="School Name" ng-model="auc.teacherSchool" required>
                                <md-option ng-repeat="school in auc.schoolList.data" ng-value="school.id">{{school.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <br>
                        <md-input-container flex="100">
                            <label for="teacherFName">First Name:</label>
                            <input ng-model="auc.teacherFName" md-select-on-focus required>
                        </md-input-container>
                        <md-input-container flex="100">
                                <label for="teacherLName">Last Name:</label>
                                <input ng-model="auc.teacherLName" md-select-on-focus required>
                            </md-input-container>
                        <md-input-container flex="100">
                            <label for="teacherEmail">Email:</label>
                            <input ng-model="auc.teacherEmail" md-select-on-focus required>
                        </md-input-container>
                        <md-button class="btn btn-default" type="submit" name="submit" value="addTeacher">Add Teacher</md-button>
                        <md-button class="btn btn-default">
                            <a href="#home" style="text-decoration: none">Cancel</a>
                            <!-- will need to update to move to admin landing page or clear form-->
                        </md-button>
                    </form>
            </md-card-content>
        </md-card>
    </div>
</section>