<div ng-include="'views/partials/teacher_nav.html'" ng-controller="UserController as uc"></div>
<div class="container gradebook" ng-init=vc.getClasses(vc.teacher)>
    <p>Gradebook</p>
    <div layout="row" layout-align="center center" flex layout-fill>
        <md-input-container class="md-block" flex=30>
            <label>Class</label>
            <md-select ng-model="id" md-on-close="vc.getAssigned(id)">
                <md-option ng-repeat="class in vc.classes" value={{class.id}} class="gradebook-container">
                {{class.title}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div ng-repeat="class in vc.classes" ng-if="class.id == id">
        <md-table-container>
            <table md-table>
                <thead md-head md-row-select multiple>
                    <th md-column md-order-by="name" flex=25>Name</th>
                    <th md-column ng-repeat="module in vc.modules">Lesson: {{module.title}}</th>
                </thead>
                <tbody md-body>
                    <tr ng-repeat="student in class.students | orderBy: name">
                        <td md-cell>{{student.last}}, {{student.first}}</td>
                        <td md-cell ng-repeat="modAssigned in vc.modules">
                            <div ng-repeat="studentGrade in modAssigned.studGrades">
                                <span style="text-transform: uppercase;" ng-show="studentGrade.studId == student.studId">{{studentGrade.final}}</span>
                                <i ng-show="studentGrade.studId == student.studId && !studentGrade.final" class="fa fa-pencil-square-o" aria-hidden="true" ng-click="vc.relocate()"></i>                                
                            </div>
                        </td>                                    
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>  
</div>