<div class="container instructions" layout="column" layout-align="center center">
    <div>
        <div layout="column" layout-align="center center" class="login">
            <!-- <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2> -->

            <div class="container loginControls">
                <div class="radio-tile-group" layout="row" layout-align="space-between center">
                    <div class="input-container" flex>
                        <input id="student" class="radio-button" type="radio" name="radio" value="student" ng-model="lc.userObject.toggle"/>
                        <div class="radio-tile">
                            <label for="student" class="radio-tile-label" checked>Student</label>
                        </div>
                    </div>
                    <div class="input-container" flex>
                        <input id="teacher" class="radio-button" type="radio" name="radio" value="teacher" ng-model="lc.userObject.toggle" />
                        <div class="radio-tile">
                            <label for="teacher" class="radio-tile-label">Teacher</label>
                        </div>
                    </div>
                    <div class="input-container" flex>
                        <input id="admin" class="radio-button" type="radio" name="radio" value="admin" ng-model="lc.userObject.toggle" />
                        <div class="radio-tile">
                            <label for="admin" class="radio-tile-label">Admin</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Teacher Login -->
            <form ng-submit="lc.login()" layout="column" layout-align="space-around stretch" ng-if="lc.userObject.toggle=='teacher'">
                <div>
                    <span class="fa fa-user-circle-o" flex="none"></span>
                    <input type="text" ng-model="lc.user.username" placeholder="E-Mail" flex="grow" />
                </div>
                <div>
                    <span flex="none" class="fa fa-unlock"></span>
                    <input type="password" ng-model="lc.user.password" placeholder="Password" flex="grow" />
                </div>
                <div>
                    <input class="btn btn-default" type="submit" name="submit" value="Log In" />
                </div>
            </form>

            <!-- Student Login -->
            <form ng-submit="lc.login()" layout="column" layout-align="space-around stretch" ng-if="lc.userObject.toggle=='student'">
                <div>
                    <span class="fa fa-user-circle-o" flex="none"></span>
                    <input type="text" ng-model="lc.user.username" placeholder="Student ID" flex="grow" />
                </div>
                <div>
                    <input class="btn btn-default" type="submit" name="submit" value="Log In" />
                </div>
            </form>

            <!-- Admin Login -->
            <form ng-submit="lc.login()" layout="column" layout-align="space-around stretch" ng-if="lc.userObject.toggle=='admin'">
                <div>
                    <span class="fa fa-user-circle-o" flex="none"></span>
                    <input type="text" ng-model="lc.user.username" placeholder="E-Mail" flex="grow" />
                </div>
                <div>
                    <span flex="none" class="fa fa-unlock"></span>
                    <input type="password" ng-model="lc.user.password" placeholder="Password" flex="grow" />
                </div>
                <div>
                    <input class="btn btn-default" type="submit" name="submit" value="Log In" />
                </div>
            </form>
        </div>
    </div>
</div>