<div ng-include="'views/partials/nav.html'"></div>
<div class="container instructions" layout="column" layout-align="center center">
    <div>
        <div layout="column" layout-align="center center" class="login">
            <form ng-submit="lc.login()" layout="column" layout-align="space-around stretch">
                <div>
                    <span class="fa fa-user-circle-o" flex="none"></span>
                    <input type="text" ng-model="lc.user.username" placeholder="E-Mail (required)" ng-required="true" flex="grow" />
                </div>
                <div>
                    <span flex="none" class="fa fa-unlock"></span>
                    <input type="password" ng-model="lc.user.password" placeholder="Password" ng-required="true" flex="grow" />
                </div>
                <div>
                    <input class="btn btn-default" type="submit" name="submit" value="Log In" />
                </div>
            </form>
        </div>
    </div>
</div>