    <div layout="row" class="fixed">
    <div flex="55">
    <ng-youtube-embed  video="smc.video1" autoplay="true" color="white" disablekb="false">
    </ng-youtube-embed>
    </div>
    <div flex="45">
        <h2 class="sizeLg">HUMBLE.</h2>
        <h3 class="sizeMd">Kendrick Lamar | DAMN.</h3>
        <p>
            Blerb:
             Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot
            Europa usa li sam vocabular. 
        </p>
    </div>
    </div>

    <div ng-cloak>
        <md-content class="sameAsP">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Lesson">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Lesson</h1>
                        <form name="userForm">
                             1. finibus commodo lectus?
                            <md-radio-group ng-model="data.group1">
                                <md-radio-button value="A" class="md-primary"><strong>A</strong> Cras eu fermentum nunc</md-radio-button>
                                <md-radio-button value="B"> <strong>B</strong> Sed id ante eu orci commodo </md-radio-button>
                                <md-radio-button value="C"> <strong>C</strong> Praesent ligula diam</md-radio-button>
                            </md-radio-group>
                             2. finibus commodo lectus?
                            <md-radio-group ng-model="data.group2">
                                <md-radio-button value="A" class="md-primary">
                                    <strong>A</strong> Cras eu fermentum nunc</md-radio-button>
                                <md-radio-button value="B">
                                    <strong>B</strong> Sed id ante eu orci commodo </md-radio-button>
                                <md-radio-button value="C">
                                    <strong>C</strong> Praesent ligula diam</md-radio-button>
                            </md-radio-group>
                             3. finibus commodo lectus?
                            <md-radio-group ng-model="data.group3">
                                <md-radio-button value="A" class="md-primary">
                                    <strong>A</strong> Cras eu fermentum nunc</md-radio-button>
                                <md-radio-button value="B">
                                    <strong>B</strong> Sed id ante eu orci commodo </md-radio-button>
                                <md-radio-button value="C">
                                    <strong>C</strong> Praesent ligula diam</md-radio-button>
                            </md-radio-group>
                             4. finibus commodo lectus?
                            <md-radio-group ng-model="data.group4">
                                <md-radio-button value="A" class="md-primary">
                                    <strong>A</strong> Cras eu fermentum nunc</md-radio-button>
                                <md-radio-button value="B">
                                    <strong>B</strong> Sed id ante eu orci commodo </md-radio-button>
                                <md-radio-button value="C">
                                    <strong>C</strong> Praesent ligula diam</md-radio-button>
                            </md-radio-group>
                         Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque,
                                finibus commodo lectus?
                        <md-input-container class="md-block">
                            <textarea ng-model="user.sa1" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                        Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque,
                                finibus commodo lectus?
                        <md-input-container class="md-block">
                            <textarea ng-model="user.sa2" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                        <md-button class="sameAsP">Submit</md-button>
                        </form> 
                    </md-content>
                </md-tab>
                <md-tab label="Lyrics">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Lyrics</h1>
                        <p>
                        Nobody pray for me
Even a day for me
Way (yeah, yeah!)
Ay, I remember syrup sandwiches and crime allowances
Finesse a nigga with some counterfeits
But now I'm countin' this
Parmesan where my accountant lives
In fact, I'm downin' this
D'USSÉ with my boo bae, tastes like Kool-Aid for the analysts
Girl, I can buy yo' ass the world with my paystub
Ooh, that pussy good, won't you sit it on my taste bloods?
I get way too petty once you let me do the extras
Pull up on your block, then break it down: we playin' Tetris
A.M. to the P.M., P.M. to the A.M., funk
Piss out your per diem, you just gotta hate 'em, funk
If I quit your BM, I still ride Mercedes, funk
If I quit this season, I still be the greatest, funk
My left stroke just went viral
Right stroke put lil' baby in a spiral
Soprano C, we like to keep it on a high note
Its levels to it, you and I know, bitch, be humble
sit down
(Hol' up lil' bitch, hol' up lil' bitch) be humble
(Hol' up, bitch) sit down
(Sit down, hol' up, lil' bitch)
Be humble (bitch)
(Hol' up, hol' up, hol' up, hol' up) bitch, sit down
Lil' bitch (hol' up, lil' bitch) be humble
(Hol' up, bitch) sit down
(Hol' up, hol' up, hol' up, hol' up) be humble
(Hol' up, hol' up, hol' up, hol' up, lil' bitch) sit down
(Hol' up lil' bitch) be humble
(Hol' up, bitch) sit down
(Hol' up, sit down, lil' bitch)
(Sit down, lil' bitch, be humble)
(Hol' up, hol' up, hol' up, hol' up, lil' bitch) bitch, sit down
(Hol' up, bitch) be humble
(Hol' up, bitch) sit down
(Hol' up, hol' up, hol' up, hol' up)
Who dat nigga thinkin' that he frontin' on man, man? (Man, man)
Get the fuck off my stage, I'm the Sandman (Sandman)
Get the fuck off my dick, that ain't right
I make a play fuckin' up your whole life
I'm so fuckin' sick and tired of the Photoshop
Show me somethin' natural like afro on Richard Pryor
Show me somethin' natural like ass with some stretchmarks
Still will take you down right on your mama's couch in Polo socks, ay
This shit way too crazy, ay, you do not amaze me, ay
I blew cool from AC, ay, Obama just paged me, ay
I don't fabricate it, ay, most of y'all be fakin', ay
I stay modest 'bout it, ay, she elaborate it, ay
This that Grey Poupon, that Evian, that TED Talk, ay
Watch my soul speak, you let the meds talk, ay
If I kill a nigga, it won't be the alcohol, ay
I'm the realest nigga after all, bitch, be humble
sit down
(Hol' up lil' bitch, hol' up lil' bitch) be humble
(Hol' up, bitch) sit down
(Sit down, hol' up, lil' bitch)
Be humble (bitch)
(Hol' up, hol' up, hol' up, hol' up) bitch, sit down
Lil' bitch (hol' up, lil' bitch) be humble
(Hol' up, bitch) sit down
(Hol' up, hol' up, hol' up, hol' up) be humble
(Hol' up, hol' up, hol' up, hol' up, lil' bitch) sit down
(Hol' up lil' bitch) be humble
(Hol' up, bitch) sit down
(Hol' up, sit down, lil' bitch)
(Sit down, lil' bitch, be humble)
(Hol' up, hol' up, hol' up, hol' up, lil' bitch) bitch, sit down
(Hol' up, bitch) be humble
(Hol' up, bitch) sit down
(Hol' up, hol' up, hol' up, hol' up)
</p>
                    </md-content>
                </md-tab>
                <md-tab label="Historical References">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Historical References</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie
                            dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere
                            mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam,
                            congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>