<div layout="column" layout-align="start stretch" class="student-quiz-main">
    <!-- navbar -->
    <div ng-include="'views/partials/lesson_nav.html'"></div>
    <!-- song info and video -->
    <div layout="row" layout-align="space-between stretch" class="fixed student-quiz">
        <!-- video on left -->
        <div flex="40" flex-lt-sm="50">
            <ng-youtube-embed video="smc.mods.data[0].video" autoplay="false" color="orange" disablekb="false" width="100%" theme="dark">
            </ng-youtube-embed>
        </div>
        <!-- song data on right -->
        <div flex=50 flex-lt-sm="50" class="details" layout="column" layout-align="center center">
            <div class="details-container" layout="column" layout-align="start start" ng-if="smc.mods.data.length">
                <p class="student-quiz-title">{{smc.mods.data[0].mod_title}}</p>
                <p class="student-quiz-artist">{{smc.mods.data[0].artist}}</p>
                <p class="sameAsP student-quiz-desc">
                    {{smc.mods.data[0].mod_desc}}
                </p>
                <div class="assignBlock" ng-if="smc.userObject.user.teachers_id !== null" ng-init=smc.clickModAssign(smc.userObject.user.teachers_id)>
                    <md-input-container>
                        <label>Assign to Class</label>
                        <md-select ng-model="smc.selectedClasses" 
                            multiple>
                            <md-option ng-repeat="class in smc.classes | orderBy: 'title'" value={{class.id}}>
                                {{class.title}}
                                <!-- md-on-close="smc.updateAssigned(smc.selectedClasses, smc.mods.data[0].id)" -->
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>

    <!-- tabs -->
    <div class="student-quiz-module" ng-cloak flex>
        <md-content class="sameAsP mod">
            <md-tabs md-border-bottom>
                <!-- lyric view -->
                <md-tab label="Lyrics">
                    <md-content class="md-padding mod">
                        <pre class="sameAsP lyrics">
                            {{smc.mods.data[0].lyrics}}
                        </pre>
                </md-content>
            </md-tab>
            <!-- history view -->
            <md-tab label="Historical Events">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Historical Events</h1>
                    <!-- tags -->
                    <md-chips>
                        <md-chip ng-repeat="tag in smc.tags.data">{{tag}}</md-chip>
                    </md-chips>
                    <!-- events -->
                    <p class="sameAsP" ng-repeat="event in smc.histEvents.data">
                        <strong>{{event.title}}</strong><br>
                        {{event.desc}}
                    </p>
                </md-content>
            </md-tab>
            <!-- Additional resources view -->
            <md-tab label="Additional Resources">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Additional Resources</h1>
                    <p class="sameAsP historicalevents" ng-repeat=" res in smc.addResources.video">
                        <strong>{{res.title}}</strong>
                        <br>
                         <span>{{res.desc}}</span>
                        <ng-youtube-embed video="res.link" autoplay="false" color="orange" disablekb="false" width="100%" theme="dark">
                        </ng-youtube-embed>
                    </p>
                    <!-- rough placement, not final -->
                    <p class="sameAsP" ng-repeat=" res in smc.addResources.na">
                        <strong>{{res.title}}</strong>
                        <br>
                        <span>{{res.desc}}</span>
                        <a href="{{res.link}}">{{res.title}}</a>
                    </p>
                    <p class="sameAsP" ng-repeat=" res in smc.addResources.blog">
                        <strong>{{res.title}}</strong>
                        <br>
                        <span>{{res.desc}}</span>
                        <a href="res.link">{{res.title}}</a>
                    </p>
                    <p class="sameAsP" ng-repeat=" res in smc.addResources.other">
                        <strong>{{res.title}}</strong>
                        <br>
                        <span>{{res.desc}}</span>
                        <a href="res.link">{{res.title}}</a>
                    </p>
                </md-content>
            </md-tab>
            <md-tab label="Quiz">
                <md-content class="md-padding student-quiz-lesson">
                    <!-- lesson view -->
                    <h1 class="md-display-2">Quiz</h1>
                    <form name="userForm" id="quiz">
                        <!-- multiple choice -->
                        <div ng-repeat="mcQuest in smc.mcQuestions.data">
                           <strong>{{$index + 1}})</strong> {{mcQuest.question}}
                            <md-radio-group ng-model="smc.McVal[$index]">
                                <md-radio-button value="a">
                                    <strong>A</strong> {{mcQuest.a}}</md-radio-button>
                                <md-radio-button value="b">
                                    <strong>B</strong> {{mcQuest.b}} </md-radio-button>
                                <md-radio-button value="c">
                                    <strong>C</strong> {{mcQuest.c}}</md-radio-button>
                            <md-radio-button value="d">
                                <strong>D</strong> {{mcQuest.d}}</md-radio-button>
                            </md-radio-group>
                        </div>
                        <!-- sort answer -->
                        <div ng-repeat="saQuest in smc.saQuestions.data">
                            {{saQuest.question}}
                            <md-input-container class="md-block">
                                <textarea ng-model="smc.SaVal[$index]" md-maxlength="1000" rows="3" md-select-on-focus></textarea>
                            </md-input-container>
                            </div>
                            <!-- essay -->
                            <div ng-repeat="essayQuest in smc.essayQuestions.data">
                                {{essayQuest.question}}
                                <md-input-container class="md-block">
                                    <textarea ng-model="smc.EssayVal[$index]" md-maxlength="5000" rows="5" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>
                            <!-- submit button -->
                            <md-button class="sameAsP btn1" ng-click="smc.submitQuiz()">Submit</md-button>
                        </form>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
