<section>
    <div ng-include="'views/partials/admin_nav.html'" ng-controller="UserController as uc"></div>
        <md-content class="admin">
        <div layout="row" class="admin-container">
            <div flex="66" layout-fill class="admin-form small">
                <md-card>
                    <md-card-title class="admin-title">
                        <md-card-title-text class="md-headline">
                            Module Creation - Step 4: Create Quiz Questions
                        </md-card-title-text>
                    </md-card-title>
                    <md-input-container flex="50" class="md-padding">
                        <label class="admin-label">Type of Question to Add</label>
                        <md-select name="correctAnswer" ng-model="qc.currentQType">
                            <md-option value="mc" selected>Multiple Choice</md-option>
                            <md-option value="sa">Short Answer</md-option>
                            <md-option value="e">Essay</md-option>
                        </md-select>
                    </md-input-container>
                </md-card>

                <form id="addQuestionsForm">
                    <!-- Multiple Choice Template -->
                    <ng-form class="admin-multiple-choice">
                        <md-card ng-show="qc.currentQType=='mc'">
                            <md-card-title class="admin-title">
                                <md-card-title-text>
                                    <span class="md-headline">Multiple Choice:</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content class="admin-multiple-choice">
                                <div layout="row" layout-align="center center" flex layout-fill>
                                    <md-input-container flex="100">
                                        <label>Question:</label>
                                        <textarea ng-model="qc.currentMCQ" rows="3" md-select-on-focus></textarea>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-align="center center" flex layout-fill>
                                    <md-input-container flex="50">
                                        <label>Potential Answer A</label>
                                        <input ng-model="qc.currentMCA1">
                                    </md-input-container>
                                    <md-input-container flex="50">
                                        <label>Potential Answer B</label>
                                        <input ng-model="qc.currentMCA2">
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-align="center center" flex layout-fill>
                                    <md-input-container flex="50">
                                        <label>Potential Answer C</label>
                                        <input ng-model="qc.currentMCA3">
                                    </md-input-container>
                                    <md-input-container flex="50">
                                        <label>Potential Answer D</label>
                                        <input ng-model="qc.currentMCA4">
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-align="left center" flex layout-fill>
                                    <md-input-container flex="30">
                                        <label>Correct Answer</label>
                                        <md-select name="correctAnswer" ng-model="qc.currentMCCA" required>
                                            <md-option value="a">A</md-option>
                                            <md-option value="b">B</md-option>
                                            <md-option value="c">C</md-option>
                                            <md-option value="d">D</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </md-card-content>
                            <md-button class="btn1" ng-submit ng-click="qc.pushMCQ(qc.currentMCQ, qc.currentMCA1, qc.currentMCA2, qc.currentMCA3, qc.currentMCA4, qc.currentMCCA)">Make New Multiple Choice Question</md-button>
                        </md-card>
                    </ng-form>

                    <!-- Short Answer Tempalte -->
                    <ng-form>
                        <md-card ng-show="qc.currentQType=='sa'">
                            <md-card-title class="admin-title">
                                <md-card-title-text>
                                    <span class="md-headline">Short Answer:</span>
                                </md-card-title-text>
                            </md-card-title>
                            <div class="admin-form small" layout="column" layout-align="start stretch">
                                <md-input-container>
                                    <label>Question:</label>
                                    <textarea ng-model="qc.currentSAQ" rows="4" md-select-on-focus></textarea>
                                </md-input-container>
                                <md-input-container>
                                    <label>Notes or Answer</label>
                                    <textarea ng-model="qc.currentSAA" rows="4" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>
                            <md-button class="btn1" ng-click="qc.pushSAQ(qc.currentSAQ, qc.currentSAA)">Make New Short Answer Question</md-button>
                        </md-card>
                    </ng-form>

                    <!-- Essay template below -->
                    <ng-form>
                        <md-card ng-show="qc.currentQType=='e'">
                            <md-card-title class="admin-title">
                                <md-card-title-text>
                                    <span class="md-headline">Essay:</span>
                                </md-card-title-text>
                            </md-card-title>
                            <div class="admin-form small" layout="column" layout-align="start stretch">

                                <md-input-container>
                                    <label>Essay Title/Question</label>
                                    <textarea ng-model="qc.currentEQ" rows="2" md-select-on-focus></textarea>
                                </md-input-container>
                                <md-input-container>
                                    <label>Essay Notes & Answers</label>
                                    <textarea ng-model="qc.currentEA" rows="4" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>
                            <md-button class="btn1" ng-click="qc.pushEssayQ(qc.currentEQ, qc.currentEA)">Make New Essay Topic</md-button>
                        </md-card>
                    </ng-form>

                    <!-- Preview quiz button -  Currently not hooked up to a function. Waiting for teacher/student view of quiz to be written and then
                    we will base new code off of that. -->
                    <md-card>
                        <!-- <md-button class="btn1" ng-click="">Preview Quiz</md-button> -->

                        <md-button class="btn1" ng-click="qc.showConfirm($event)" ng-href="#/admin/home">Finish & Submit Module</md-button>
                    </md-card>

                </form>
            </div>
            <!-- Quiz summary for admins to track their progress in adding quiz questions. -->
            <div flex="33">
                <div class="quizSummary">
                    <md-card>
                        <md-card-title class="admin-title">
                            <md-card-title-text>
                                <span class="md-headline">Summary of Quiz Questions</span>
                            </md-card-title-text>
                        </md-card-title>
                        <ol layout="column">
                            <li ng-repeat="question in qc.questions">{{question.q}}</li>
                        </ol>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</section>