<section ng-init="ec.getHistoricalInfo()">
        <div ng-include="'views/partials/admin_nav.html'"></div>
        <md-card>
        <md-card-title>
            <md-card-title-text>
                Historical Event:
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <form name="eventCreation">
                <div layout="row" layout-fill>
                    <md-input-container flex="75">
                        <label>Title of Event</label>
                        <input ng-model="ec.title" md-select-on-focus>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Event Year</label>
                        <input ng-model="ec.year" md-select-on-focus>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="100">
                        <label>Description of Event</label>
                        <pre><textarea rows="4" ng-model="ec.desc"></textarea></pre>
                    </md-input-container>
                </div>
                <md-chips ng-model="ec.hTags" md-autocomplete-snap md-transform-chip="ec.transformChip($chip)" md-require-match="ec.requireMatch">
                    <md-autocomplete md-selected-item="ec.selectedItem" md-search-text="ec.searchText" md-items="item in ec.querySearch(ec.searchText)"
                        md-item-text="item.name" placeholder="Search for an Issue">
                        <span md-highlight-text="ec.searchText">{{item.name}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                            <strong>{{$chip.name}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>
                <md-button class="md-primary md-raised" ng-submit ng-click="ec.makeEvent(ec.title, ec.desc, ec.year, ec.hTags)">Submit & Move On to Quiz Questions</md-button>
            </form>
        </md-card-content>
    </md-card>
</section>