<section ng-init="ec.getHistoricalInfo()">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                Historical Event:
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <div layout="row">
                <md-input-container flex="100">
                    <label>Historical Title:</label>
                    <input ng-model="ec.historicalEvent" md-select-on-focus>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="100">
                    <label>Description</label>
                    <textarea rows="4"></textarea>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <label>Event Year</label>
                    <input ng-model="ec.year" md-select-on-focus>
                </md-input-container>
            </div>
            <div layout="row">
                    <md-chips ng-model="ec.existingHistoricalEventTags" md-removable="ec.removable"></md-chips>
            </div>
        </md-card-content>
    </md-card>
</section>