<section ng-init="ec.getHistoricalInfo()">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                Historical Event:
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <div layout="row" layout-fill>
                <md-input-container flex="75">
                    <label>Title of Event</label>
                    <input ng-model="ec.historicalEvent" md-select-on-focus>
                </md-input-container>
                <md-input-container flex="25">
                    <label>Event Year</label>
                    <input ng-model="ec.year" md-select-on-focus>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="100">
                    <label>Description of Event</label>
                    <textarea rows="4"></textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-align="left center" flex layout-fill>
                <md-input-container flex="50">
                    <label>Historical Tags</label>
                    <md-select name="correctAnswer" ng-model="ec.currentMCCA" required>
                        <md-option ng-repeat="tag in ec.existingHistoricalTags.data" value="{{tag}}">{{tag}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-chips flex="100" placeholder="Historical Themes" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag"
                    ng-model="ec.existingHistoricalEventTags" md-removable="ec.removable"></md-chips>
            </div>
        </md-card-content>
    </md-card>
</section>