<div ng-include="'views/partials/nav.html'"></div>
<section class="sizeLg gradeMarg">
    <h3>Dustin Henderson</h3>
    <div layout="row">
        <div flex>
            Total Lessons Completed:
            <br> 25
        </div>
        <div flex>
            Average Grade:
            <br> 90%
        </div>
    </div>

    <ang-accordion >
        <collapsible-item item-title="Lesson One">
          
            <div layout="row" class="gradeMarg sizeLg center">
            <div flex>
                Grade:<br>
                <strong>A-</strong>
            </div>
            <div flex>
                Correct Answers:<br>
                <strong>12/15</strong>
            </div>
            <div flex>
                Date Completed:<br>
                <strong>October 22 2018</strong>
            </div>
            </div>
            <div class="gradeMarg">
               1. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis?
                <p>
                     Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
                <h4>Teacher Response:</h4>
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
                <hr>
                 2. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis?
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
                <h4>Teacher Response:</h4>
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
            </div>
        </collapsible-item>

        <collapsible-item item-title="Lesson Two">
            <div layout="row" class="gradeMarg">
                <div flex>
                    A-
                </div>
                <div flex>
                     12/15
                </div>
                <div flex>
                    October 22 2018
                </div>
            </div>
            <div class="gradeMarg">
                1. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis?
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
                <h4>Teacher Response:</h4>
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
                <hr> 2. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis?
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
                <h4>Teacher Response:</h4>
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
            </div>
        </collapsible-item>
        
        <collapsible-item item-title="Lesson Three">
            <div layout="row" class="gradeMarg">
            <div flex>
                A-
            </div>
            <div flex>
                12/15
            </div>
            <div flex>
                October 22 2018
            </div>
            </div>
            <div class="gradeMarg">
                1. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis?
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
                <h4>Teacher Response:</h4>
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
                <hr> 2. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis?
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
                <h4>Teacher Response:</h4>
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                    justo.
                </p>
            </div>
        </collapsible-item>
    </ang-accordion>
</section>