<div ng-include="'views/partials/nav.html'"></div>
<section class="sizeLg gradeMarg">
    <h2 class="orange">{{sgc.studGrades.data[0].first}} {{sgc.studGrades.data[0].last}}</h2>
 
    <ang-accordion >
        <collapsible-item ng-repeat="sa in sgc.studGrades.data" item-title="Lesson {{sa.modules_id}}" >
          
            <div layout="row" class="gradeMarg sizeLg">
            <div flex>
                Grade:<br>
                <strong class="uppercase">{{sgc.studGrades.data[0].final_grade}}</strong>
            </div>
            <div flex>
                Correct Answers:<br>
                <strong>12/15</strong>
            </div>
            </div>
            <div class="gradeMarg">
                 {{sa.question}}
                <p>
                     {{sa.response}}
                </p>
                <h4>Teacher Response:</h4>
                <p>
                     {{sa.teacher_comments}}
                </p>
                <hr>
            </div>
        </collapsible-item>
    </ang-accordion>
</section>