<div ng-include="'views/partials/teacher_nav.html'"></div>
<div class="container" layout="column" layout-align="start stretch">
    <div class="teacher-grading" layout="column" layout-align="start stretch">
        <div class="teacher-grade-info" layout="row" layout-align="start stretch">
            <div class="teacher-grading-student" flex layout="column" layout-align="center center">
                <div>{{tgc.userObject.studentinfo[0].first}} {{tgc.userObject.studentinfo[0].last}}</div>
                <div>Class 2</div>
                <!-- class name goes here -->
            </div>
            <div class="teacher-grading-song" flex layout="column" layout-align="center center">
                <div>Artist</div>
                <div>Song</div>
            </div>
        </div>

        <div class="teacher-grade-questions" flex layout="column" layout-align="start stretch" ng-repeat="q in tgc.userObject.studentinfo"
            ng-show="q.type == 'mc'">
            <div class="teacher-grade-mc">
                <p layout="row" layout-align="space-between center">{{q.question}}
                    <i ng-show="q.response === q.correct" class="fa fa-check-square-o" aria-hidden="true"></i>
                    <i ng-show="q.response !== q.correct" class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <!--  Add correct symbol based on logic here -->
                </p>
                <span id="answerA[$index]" ng-class="{'teacher-grade-mc-wrong': q.response !== q.correct && q.response == 'a', 'teacher-grade-mc-right': q.response === q.correct && q.correct === 'a'}">a. {{q.a}}</span>
                <span id="answerB[$index]" ng-class="{'teacher-grade-mc-wrong': q.response !== q.correct && q.response == 'b', 'teacher-grade-mc-right': q.response === q.correct && q.correct === 'b'}">b. {{q.b}}</span>
                <span id="answerC[$index]" ng-class="{'teacher-grade-mc-wrong': q.response !== q.correct && q.response == 'c', 'teacher-grade-mc-right': q.response === q.correct && q.correct === 'c'}">c. {{q.c}}</span>
                <span id="answerD[$index]" ng-class="{'teacher-grade-mc-wrong': q.response !== q.correct && q.response == 'd', 'teacher-grade-mc-right': q.response === q.correct && q.correct === 'd'}">d. {{q.d}}</span>
            </div>
        </div>

        <div class="teacher-grade-questions" flex layout="column" layout-align="start stretch">
            <div class="teacher-grade-results" layout="row" layout-align="center center">
                <span>{{tgc.userObject.numberCorrect}} / {{tgc.userObject.numberTotal}} Correct - {{tgc.userObject.correctPercet
                    | number: 0}}%</span>
                <!-- need to calculate for future use -->
            </div>
        </div>

        <div class="teacher-grade-questions" flex layout="column" layout-align="start stretch" ng-repeat="q in tgc.userObject.studentinfo"
            ng-show="q.type == 'sa'">
            <div class="teacher-grade-sa">
                <p layout="row" layout-align="space-between center">{{q.question}}</p>
                <span>Student Response:</span>
                <span>{{q.response}}</span>
                <br>
                <span>Notes From MusicNerdz:</span>
                <span>{{q.teacher_comments}}</span>
                <br>
                <md-input-container class="md-block">
                    <label>
                        <span>Teacher's Comments</span>
                    </label>
                    <textarea ng-model="q.teacherResponse" rows="4" md-select-on-focus></textarea>
                </md-input-container>
            </div>
        </div>

        <div class="teacher-grade-questions" flex layout="column" layout-align="start stretch" ng-repeat="q in tgc.userObject.studentinfo"
            ng-show="q.type == 'essay'">
            <div class="teacher-grade-sa">
                <!-- To be updated to class="teacher-grade-essay" once class exists for styling -->
                <p layout="row" layout-align="space-between center">{{q.question}}</p>
                <span>Student Response:</span>
                <span>{{q.response}}</span>
                <br>
                <span>Notes From MusicNerdz:</span>
                <span>{{q.teacher_comments}}</span>
                <md-input-container class="md-block">
                    <label>
                        <span>Teacher's Comments</span>
                    </label>
                    <textarea rows="4" md-select-on-focus  ng-model="q.teacherResponse"></textarea>
                </md-input-container>
            </div>
        </div>

        <div class="teacher-grade-questions" flex layout="column" layout-align="start stretch">
            <div class="teacher-grade-entry">
                <span>Enter Final Grade:</span>
                <md-input-container>
                    <label>% or Letter Grade</label>
                    <input type="text" flex="50" ng-model="tgc.teacherFinalGrade">
                </md-input-container>
                <button class="btn btn-default" ng-click="tgc.finalGradeConverter(tgc.userObject, tgc.teacherFinalGrade); tgc.relocate()">Submit</button>
            </div>
        </div>
    </div>
</div>
</div>