<div ng-include="'views/partials/teacher_nav.html'"></div>
<div class="container" layout="column" layout-align="start stretch">
    <div class="teacher-grading" layout="column" layout-align="start stretch">
        <div class="teacher-grade-info" layout="row" layout-align="start stretch">
            <div class="teacher-grading-student" flex layout="column" layout-align="center center">
                <div>{{tgc.userObject.studentinfo[0].first}} {{tgc.userObject.studentinfo[0].last}}</div>
                <div>Class 2</div>
                <!-- class name goes here -->
            </div>

            <div class="teacher-grading-song" flex layout="column" layout-align="center center">
                <div>Every Time I Die-</div>
                <div>Map Change</div>
            </div>
        </div>

        <div class="teacher-grade-questions" flex layout="column" layout-align="start stretch" ng-repeat="q in tgc.userObject.studentinfo">
            <div class="teacher-grade-mc">
                <p layout="row" layout-align="space-between center">{{q.question}}
                    <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
                    <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Add correct symbol based on logic here -->
                </p>
                <span>a. {{q.a}}</span>
                <!--  class="teacher-grade-mc-wrong" -->
                <span>b. {{q.b}}</span>
                <span>c. {{q.c}}</span>
                <!--  class="teacher-grade-mc-right" -->
                <span>d. {{q.d}}</span>
            </div>
        </div>

        <div class="teacher-grade-results" layout="row" layout-align="center center">
            <span>2 / 3 Correct - 66%</span>
            <!-- need to calculate for future use -->
        </div>

        <div class="teacher-grade-sa">
            <p layout="row" layout-align="space-between center">4) Do you like short answer questions?</p>
            <div>
                <span>Imagine a long short answer here. Imagine a long short answer here. Imagine a long short answer here. Imagine
                    a long short answer here. </span>
                <textarea name="teacher-grade-sa" id="teacher-grade-sa" placeholder="Teacher response..."></textarea>
            </div>
        </div>

        <div class="teacher-grade-sa">
            <!-- change to essay & add styling -->
            <p layout="row" layout-align="space-between center">4) Do you like short essay?</p>
            <div>
                <span>Imagine a long short answer here. Imagine a long short answer here. Imagine a long short answer here. Imagine
                    a long short answer here. </span>
                <textarea name="teacher-grade-sa" id="teacher-grade-sa" placeholder="Teacher response..."></textarea>
                <!-- change to essay & add styling -->
            </div>
        </div>

        <div class="teacher-grade-entry">
            <span>Enter Grade:</span>
            <input type="text">
            <button class="btn btn-default">Submit</button>
        </div>
    </div>
</div>
</div>