<div ng-include="'views/partials/nav.html'"></div>
<div class="container" layout="column" layout-align="start stretch">
    <div class="main" layout="column" layout-align="start stretch" flex>
        <div class="main-carousel" flex=25>
            carousel here
        </div>

        <div class = "main-container" flex=75 layout="column" layout-align="start stretch">
        <div class="main-display" layout="row" layout-align="space-around">
            <div class="tile" layout="column" layout-align=" stretch" flex>
                <div class="tile-art" flex=none>
                    <!-- <img src="http://s0.limitedrun.com/images/1248348/daisy-4fa4818edd221.jpg"> -->
                </div>
                <div class="tile-details" flex=60 layout="row" layout-align="center center">
                    <div class="tile-name" flex layout="column" layout-align="space-around stretch">
                        <p class="tile-artist" flex>Brand New</p>
                        <p class="tile-record" flex>Daisy</p>
                    </div>
                    <div class="tile-album" flex=40>
                        5.0
                    </div>
                </div>
            </div>
            <div class="tile" layout="column" layout-align=" stretch" flex>
                <div class="tile-art" flex=none>
                    <!-- <img src="http://s0.limitedrun.com/images/1248348/daisy-4fa4818edd221.jpg"> -->
                </div>
                <div class="tile-details" flex=60 layout="row" layout-align="center center">
                    <div class="tile-name" flex layout="column" layout-align="space-around stretch">
                        <p class="tile-artist" flex>Brand New</p>
                        <p class="tile-record" flex>Daisy</p>
                    </div>
                    <div class="tile-album" flex=40>
                        5.0
                    </div>
                </div>
            </div>
            <div class="tile" layout="column" layout-align=" stretch" flex>
                <div class="tile-art" flex=none>
                    <!-- <img src="http://s0.limitedrun.com/images/1248348/daisy-4fa4818edd221.jpg"> -->
                </div>
                <div class="tile-details" flex=60 layout="row" layout-align="center center">
                    <div class="tile-name" flex layout="column" layout-align="space-around stretch">
                        <p class="tile-artist" flex>Brand New</p>
                        <p class="tile-record" flex>Daisy</p>
                    </div>
                    <div class="tile-album" flex=40>
                        5.0
                    </div>
                </div>
            </div>

        </div>
        <div class="main-display" layout="row" layout-align="space-around">
                <div class="tile" layout="column" layout-align=" stretch" flex>
                    <div class="tile-art" flex=none>
                        <!-- <img src="http://s0.limitedrun.com/images/1248348/daisy-4fa4818edd221.jpg"> -->
                    </div>
                    <div class="tile-details" flex=60 layout="row" layout-align="center center">
                        <div class="tile-name" flex layout="column" layout-align="space-around stretch">
                            <p class="tile-artist" flex>Brand New</p>
                            <p class="tile-record" flex>Daisy</p>
                        </div>
                        <div class="tile-album" flex=40>
                            5.0
                        </div>
                    </div>
                </div>
                <div class="tile" layout="column" layout-align=" stretch" flex>
                    <div class="tile-art" flex=none>
                        <!-- <img src="http://s0.limitedrun.com/images/1248348/daisy-4fa4818edd221.jpg"> -->
                    </div>
                    <div class="tile-details" flex=60 layout="row" layout-align="center center">
                        <div class="tile-name" flex layout="column" layout-align="space-around stretch">
                            <p class="tile-artist" flex>Brand New</p>
                            <p class="tile-record" flex>Daisy</p>
                        </div>
                        <div class="tile-album" flex=40>
                            5.0
                        </div>
                    </div>
                </div>
                <div class="tile" layout="column" layout-align=" stretch" flex>
                    <div class="tile-art" flex=none>
                        <!-- <img src="http://s0.limitedrun.com/images/1248348/daisy-4fa4818edd221.jpg"> -->
                    </div>
                    <div class="tile-details" flex=60 layout="row" layout-align="center center">
                        <div class="tile-name" flex layout="column" layout-align="space-around stretch">
                            <p class="tile-artist" flex>Brand New</p>
                            <p class="tile-record" flex>Daisy</p>
                        </div>
                        <div class="tile-album" flex=40>
                            5.0
                        </div>
                    </div>
                </div>
    
            </div>

        </div>
    </div>
    </div>
    <!-- <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1> -->
</div>