<div ng-include="'views/partials/nav.html'"></div>

<div class="container" layout="column" layout-align="start stretch">
    <div class="main" layout="column" layout-align="start stretch" flex>
        <div class="main-carousel" flex=25>
            <div ng-include="'views/partials/carousel.html'" flex></div>
        </div>
        <div class="main-container main-assigned" flex=75 layout="column" layout-align="start stretch">
            <h1>Assigned</h1>
            <div class="main-display" layout-wrap layout="row" layout-align="space-between">
                <!-- Repeated COMPLETED modules here -->
                <div class="tile" layout="column" flex=30 ng-repeat="i in uc.studentService.mods | filter: uc.search" ng-click="uc.userService.loadmodule(i.id, $event)">
                    <div class="tile-art" flex=none ng-style="{'background-image':'url({{i.art}})'}">
                    </div>
                    <div class="tile-details" flex=60 layout="row" layout-align="center center">
                        <div class="tile-name" flex layout="column" layout-align="space-around stretch">
                            <p class="tile-artist" flex>{{ i.artist }}</p>
                            <p class="tile-record" flex>{{ i.title }}</p>
                        </div>
                        <div class="tile-album" flex=40>
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <!-- Repeated modules here -->
            </div>

            <div class="main-completed">Completed</div>
            <div class="main-display" layout-wrap layout="row" layout-align="space-between">
                <!-- Repeated COMPLETED modules here -->
                <div class="tile" layout="column" flex=30 ng-repeat="i in vc.shownItems | filter: uc.search" ng-click="uc.userService.loadmodule(i.id, $event)">
                    <div class="tile-art" flex=none ng-style="{'background-image':'url({{i.art}})'}">
                    </div>
                    <div class="tile-details" flex=60 layout="row" layout-align="center center">
                        <div class="tile-name" flex layout="column" layout-align="space-around stretch">
                            <p class="tile-artist" flex>{{ i.artist }}</p>
                            <p class="tile-record" flex>{{ i.title }}</p>
                        </div>
                        <div class="tile-album" flex=40>
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <!-- Repeated modules here -->
            </div>

        </div>
    </div>
</div>
<md-collection-pagination class="md-padding" collection="uc.studentService.mods" paginated-collection="vc.shownItems" per-page="3"></md-collection-pagination>
</div>