<div ng-include="'views/partials/teacher_nav.html'" ng-controller="UserController as uc"></div>
<div class="container viewclass">
    <ang-accordion ng-repeat="class in vc.classes | orderBy: 'title'">
        <collapsible-item item-title={{class.title}} ng-model="class.id">
            <!-- <md-button class="md-warn deleteClassBtn" ng-click="vc.deleteClass(class.id)">Delete Class</md-button> -->
            <md-button class="md-warn deleteClassBtn" ng-click="showConfirmClass($event,class.id)">Delete Class</md-button>
            <div class="clearfix">
                <md-table-container>
                    <table md-table>
                        <thead md-head md-row-select multiple>
                            <th md-column md-order-by="lastName">Last Name</th>
                            <th md-column >First Name</th>
                            <th md-column >Student Email</th>
                        </thead>
                        <tbody md-body>
                            <tr ng-repeat="student in class.students | orderBy: 'last'">
                                <td md-cell>{{student.last}}</td>                                    
                                <td md-cell>{{student.first}}</td>
                                <td md-cell>{{student.email}}</td>
                                <td md-cell><md-button class="md-warn" class="deleteStudBtn" ng-click="showConfirm($event,class.id, student.id)">Delete Student</md-button></td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <div class="md-padding" layout="row" layout-align="start center">
                <input type="text" ng-model="class.first" placeholder="First Name" ng-required="true"/>
                <input type="text" ng-model="class.last" placeholder="Last Name" ng-required="true" />
                <input type="text" ng-model="class.email" placeholder="Student Email" ng-required="true"/>
                <input type="text" ng-model="class.number" placeholder="Student ID" />
                <md-button class="deleteStudBtn" ng-click="vc.addStudent(class.id)">+ Add Student</md-button>
            </div>
        </collapsible-item>   
    </ang-accordion>
    <div class="md-padding">
        <input type="text" ng-model="vc.class.title" placeholder="Class Title" ng-required="true" flex="grow" />
        <input type="text" ng-model="vc.class.code" placeholder="Class Code" flex="grow" />
        <md-button class="deleteStudBtn" ng-click="vc.addClass()">+ Add Class</md-button>
    </div>
</div>
 